body {
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-x: hidden
}

.green,
a,
.navbar-light .navbar-nav .nav-item.current .nav-link {
  color: #25B135
}

.grey {
  color: #7E7E7E
}

.dark-grey {
  background: #222;
  color: #fff
}

.darker-grey {
  background: #191919;
  color: #fff
}

.dark-grey a,
.darker-grey a {
  color: inherit
}

a:hover {
  color: inherit;
  text-decoration: none;
}

p a:hover {
  opacity: 0.7
}

.text-monospace,
h1,
h2,
h3,
h4 {
  font-family: 'IBM Plex Mono', monospace;
}

.hidden {
  display: none
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
}

.bigger {
  font-size: 120%;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.display-1 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

.display-2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.outter {
  padding-top: 10rem;
  /*padding-bottom: 20rem;*/
  min-height: 100vh;
}

.grey-back {
  background: #f3f3f3;
  margin: 5rem 0;
  padding-bottom: 10rem;
}

.no-scroll {
  overflow: hidden
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
  background-image: none;
}




.btn-lg, .btn-group-lg > .btn{
  font-weight: 300;
}

.btn-group > .btn:hover, .btn-group-vertical > .btn:hover {
     border-right: #7cc381 1px solid;
}

.btn-secondary,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
  background-color: #25B135;
  border-color: #25B135;
}

.btn-outline-secondary {
  color: #25B135;
  background-image: none;
  border-color: #d7e4d9;
}

.btn-outline-secondary:hover {
  background-color: #25B135;
  border-color: #25B135;
}

.dropdown-menu {
  width: 400px;
  padding: 0;
  margin-top: 10px;
}

.os-selector-home .dropdown-menu {
    margin-top: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-divider {
  height: 0;
  margin: 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  clear: both;
  font-weight: 400;
  color: #25B135;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #D2EFD5;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
}

.dropdown-item.btn-icon a.selected,
.all-downloads a.selected {
  background-color: #25B135;
  border-radius: 30px;
  padding: 3px 15px 3px 12px;
  color: #fff;
}

#app-download img {
  max-width: 100%;
  height: auto;
}

.badge-img {
  height: auto;
  width: 160px;
}

footer .badge-img {
  width: 25%;
  max-width: 150px
}


footer, footer ul li {
    font-weight: 100;
    letter-spacing: 0.07em;
}

#community-footer {
  letter-spacing:8px
}

#community-footer a:hover{
  opacity:0.8;
}

#community-footer img{
    width: 25px;
    background: #4e4e4e;
    padding: 5px;
    border-radius: 400px;
}

#app-download td {
  width: 200px;
}

.dropdown-item.btn-icon:hover a.selected,
.dropdown-item.btn-icon:focus .btn-icon a.selected {
  background-color: #fff;
  color: #25B135
}

.dropdown-item:last-child {
  border-bottom: none;
}

.os-selector-home .selected-os-download {
  width: 363px
}

.os-selector-home .btn-icon a {
  color: #555;
  text-decoration: none;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
}

.selected-os-download.btn-icon {
    cursor: default;
}

.dropdown-item.btn-icon:hover a, .selected-os-download:hover .float-right a {
  color: #fff;
  text-decoration: none;
  border-bottom: #fff 1px solid;
}

.dropdown-item-main {
  padding: 0 40px 0 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #25B135;
}


.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 179, 12, 0.32);
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem rgba(0, 181, 12, 0.28);
}


.os-icon {
  height: 20px;
  position: absolute;
  top: 13px;
  left: 8px;
}

.btn-icon {
  padding-left: 40px;
  position: relative;
}

.btn-icon:hover .os-icon-g,
.btn-icon .os-icon-w {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  opacity: 0;
}

.btn-icon:hover .os-icon-w,
.btn-icon .os-icon-g {
  opacity: 1;
}

.navbar {
  border-bottom: #EBEBEB 1px solid;
  background-color: #fff !important;
  padding: 0rem 1rem;
  height: 70px;
}

.nav-link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.03rem;
  margin-left: 2rem;
  padding: 23px 1rem;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  border-bottom: #EBEBEB 1px solid;
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-item.current .nav-link,
.navbar-light .navbar-nav .nav-item:hover .nav-link {
  border-bottom: #25B135 1px solid;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.footer {
  bottom: 0px;
}

.hero-btn {
    margin-right: 30px;
}

.shadow-btn {
  box-shadow: 0px 1px 0px 0px rgba(123, 123, 123, 0.2);
}

.homepage-hero {
  margin-top: 10vh
}

#video-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000000;
  background: rgba(0, 0, 0, 0.85);
}

.embed-responsive {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -28.1%;
  /* video height / video width */
  padding-bottom: 56.2%;
  height: 0;
  overflow: hidden;
}

.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
}

.row-block h2 {
  margin: 2em -70px;
}

.row-block {
  padding: 4em 70px;
  position: relative
}

.getting-started-img {
  width: 210%
}

.features-pic {
  height: 120px;
  display: block;
  clear: left;
}

.step {
  cursor: pointer
}

.step-image {
  position: absolute;
  margin-top: -10rem;
}

.accordion-toggle {
  cursor: pointer;
}

.accordion-toggle-active{
  font-weight: 600
}

.accordion-content {
  display: none;
}

.accordion-content.default {
  display: block;
}

ol a {
  display: contents;
}

ol {
  list-style: none;
  counter-reset: li-counter;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 0;
}

ol li {
  counter-increment: li-counter;
  display: flex;
  margin: 2rem 0;
  padding-right: 1em;
}

ol li::before {
  content: counter(li-counter) ".";
  font-size: 2rem;
  margin-right: 1rem;
  line-height: 1;
  color: #a0ab9c;
  font-weight: 100;
}

ul.divide-2col {
  column-count: 2;
  column-gap: 5rem;
}

ul.divide-3col {
  column-count: 3;
  column-gap: 5rem;
}

.community-links li {
    margin-bottom: 2rem;
    list-style: none;
    padding-left: 30px;
}

.community-links li img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: -30px;
  margin-right: 5px;
}

.community-home li {
  margin-bottom: 0.5rem;
  list-style: none;
}

td {
  padding: 0.6rem 5rem 0.6rem 0;
}

.navbar-toggler {
  cursor: pointer;
  padding: 10px;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  border: none;
}

@media (max-width: 990px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .row-block {
    padding: 4em 0;
    position: relative;
  }
  .os-selector-home {
    margin-bottom: 10px;
  }
  .hero-btn {
    padding-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .os-selector-home .btn {
    margin-bottom: 0px;
  }
  .row-block h2 {
    margin: 2em 0px;
  }
  .selected-os-download.btn-icon {
    width: 100%;
  }
  .dropdown-menu {
    width: 100%;
  }
  .display-1 {
    font-size: 2.5rem;
  }
  ul.navbar-nav.ml-auto {
    background: #fff;
  }
  .navbar {
    border-bottom: #EBEBEB 1px solid;
    background: #fff !important;
    padding: 0.2rem 1rem;
    height: auto;
  }
  .navbar-nav .nav-link {
    padding-left: 0;
    margin-left: 0;
  }
  .navbar-light .navbar-nav .nav-item .nav-link,
  .navbar-light .navbar-nav .nav-item .nav-link:hover,
  .navbar-light .navbar-nav .nav-item.current .nav-link {
    border-bottom: none;
  }
  
  .step-image {
    position: relative;
    margin-top: 0rem;
    width: 100%;
}
}

@media (max-width: 1100px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.1rem;
    padding-left: 0.1em;
  }
}