body {
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-x: hidden;
  font-weight: 300;
  letter-spacing: 0.03rem;
}

.green,
a,
.navbar-light .navbar-nav .nav-item.current .nav-link {
  color: #25B135
}

.grey {
  color: #7E7E7E
}

.dark-grey {
  background: #222;
  color: #fff
}

.darker-grey {
  background: #191919;
  color: #fff
}

.dark-grey a,
.darker-grey a {
  color: inherit
}

a:hover {
  color: inherit;
  text-decoration: none;
}


p a:hover {
  opacity: 0.7
}

.text-monospace,
h1,
h2,
h3,
h4 {
  font-family: 'IBM Plex Mono', monospace;
}

.text-sans,
h1,
h2,
h3,
h4 {
  font-family: 'IBM Plex Sans', monospace;
}

.hidden {
  display: none
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300;
}

.bigger {
  font-size: 120%;
  font-weight: 300;
  letter-spacing: 0.05rem;
}


.oversized{
  font-size: 6.5em;
  font-weight: 100;
  letter-spacing: -.5rem;
  line-height: 0.9em;
}



.display-1 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  font-weight: 200;
}

.display-2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.outter {
  padding-top: 10rem;
  /*padding-bottom: 20rem;*/
  min-height: 100vh;
}

.grey-back {
  background: #f3f3f3;
  margin: 5rem 0;
  padding-bottom: 10rem;
}



hr {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.no-scroll {
  overflow: hidden
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
  background-image: none;
}




.btn-lg, .btn-group-lg > .btn{
  font-weight: 200;
}

.btn-group > .btn:hover, .btn-group-vertical > .btn:hover {
     border-right: #7cc381 1px solid;
}

.btn-secondary,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle,
.btn-secondary:hover {
  background-color: #25B135;
  border-color: #25B135;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #25B135;
    border-color: #0b8218;
}

.btn-outline-secondary {
  color: #25B135;
  background-image: none;
  border-color: #d7e4d9;
}

.btn-outline-secondary:hover {
  background-color: #f9f9f9;
  border: #e5e5e5 1px solid;
  color: #26b037;
}

.dropdown-menu {
  width: 400px;
  padding: 0;
  margin-top: 10px;
}







.os-selector-home .dropdown-menu {
    margin-top: 0;
    max-height: 225px;
    overflow-y: scroll;
}



.os-selector-home .dropdown-menu::-webkit-scrollbar {
    width: 5px;
  }

.os-selector-home .dropdown-menu::-webkit-scrollbar-button {
    background: #ececec;
    height: 0px;
}

.os-selector-home .dropdown-menu::-webkit-scrollbar-track {
    background: #e8e8e8;
}

.os-selector-home .dropdown-menu::-webkit-scrollbar-thumb {
    background: #9a9a9a;
    border: 1px solid #d2d2d2;
    border-radius:9px;
}








.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-divider {
  height: 0;
  margin: 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  clear: both;
  font-weight: 300;
  color: #25B135;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #D2EFD5;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
}

.dropdown-item.btn-icon a.selected,
.all-downloads a.selected {
  background-color: #25B135;
  border-radius: 30px;
  padding: 3px 15px 3px 12px;
  color: #fff;
}

#app-download img {
  max-width: 100%;
  height: auto;
}

.badge-img {
  height: auto;
  width: 160px;
}

footer .badge-img {
  width: 45%;
  max-width: 150px
}


footer, footer ul li {
    font-weight: 100;
    letter-spacing: 0.07em;
}

#community-footer {
  letter-spacing:8px
}


#community-footer a{
  opacity:0.7;
}

#community-footer a:hover{
  opacity:1;
}

#community-footer img{
    width: 28px;
    /* background: #4e4e4e; */
    padding: 5px;
    /* border-radius: 400px; */
}

#app-download td {
  width: 200px;
}

.dropdown-item.btn-icon:hover a.selected,
.dropdown-item.btn-icon:focus .btn-icon a.selected {
  /* background-color: #fff; */
  color: #fff;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.os-selector-home .selected-os-download {
  width: 363px;
  font-weight: 200;
}


.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: inherit;
    background-color: inherit;
    border-color: #d7e4d9;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.02rem rgba(108, 117, 125, 0.5);
}


.os-selector-home .btn-icon a {
  color: #555;
  text-decoration: none;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
}

.selected-os-download.btn-icon {
    cursor: default;
}

.dropdown-item.btn-icon:hover a, .selected-os-download:hover .float-right a {
  color: #25B135;
  text-decoration: none;
  border-bottom: #25B135 1px solid;
}

.dropdown-item-main {
  padding: 0 40px 0 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #25B135;
  text-decoration: none;
  background-color: #f5f5f5;
}


.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 179, 12, 0.32);
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem rgba(0, 181, 12, 0.28);
}




.os-icon {
  height: 20px;
  position: absolute;
  top: 13px;
  left: 8px;
}

.btn-icon {
  padding-left: 40px;
  position: relative;
}

.btn-icon:hover .os-icon-g,
.btn-icon .os-icon-w {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  opacity: 1;
}

.btn-icon:hover .os-icon-w,
.btn-icon .os-icon-g {
  opacity: 1;
}

.btn-icon .os-icon-w, .btn-icon:hover .os-icon-w{
  opacity:0
}

.navbar {
  border-bottom: #EBEBEB 1px solid;
  background-color: #fff !important;
  padding: 0rem 1rem;
  height: 70px;
}

.nav-link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.03rem;
  margin-left: 2rem;
  padding: 23px 1rem;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  border-bottom: #EBEBEB 1px solid;
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-item.current .nav-link,
.navbar-light .navbar-nav .nav-item:hover .nav-link {
  border-bottom: #25B135 1px solid;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.footer {
  bottom: 0px;
}

.hero-btn {
    margin-right: 30px;
}

.shadow-btn {
  box-shadow: 0px 1px 0px 0px rgba(123, 123, 123, 0.2);
}

.homepage-hero {
  margin-top: 10vh
}

#video-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000000;
  background: rgba(0, 0, 0, 0.85);
}

.embed-responsive {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -28.1%;
  /* video height / video width */
  padding-bottom: 56.2%;
  height: 0;
  overflow: hidden;
}

.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
}

.row-block h2 {
  margin: 2em -55px;
}

.row-block {
  padding: 4em 70px;
  position: relative
}

.getting-started-img {
  width: 210%
}

.features-pic {
  height: 120px;
  display: block;
  clear: left;
}

.step {
  cursor: pointer
}

.step-image {
  position: absolute;
  margin-top: -10rem;
}

.accordion-toggle {
  cursor: pointer;
}

.accordion-toggle-active{
  font-weight: 600
}

.accordion-content {
  display: none;
}

.accordion-content.default {
  display: block;
}

ol a {
  display: contents;
}

ol {
  list-style: none;
  counter-reset: li-counter;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 0;
}

ol li {
  counter-increment: li-counter;
  display: flex;
  margin: 2rem 0;
  padding-right: 1em;
}

ol li::before {
  content: counter(li-counter) ".";
  font-size: 2rem;
  margin-right: 1rem;
  line-height: 1;
  color: #a0ab9c;
  font-weight: 100;
}

ul.divide-2col {
  column-count: 2;
  column-gap: 5rem;
}

ul.divide-3col {
  column-count: 3;
  column-gap: 5rem;
}

.community-links li {
    margin-bottom: 2rem;
    list-style: none;
    padding-left: 30px;
}

.community-links li img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: -30px;
  margin-right: 5px;
}

.community-home li {
  margin-bottom: 0.5rem;
  list-style: none;
}

td {
  padding: 0.6rem 5rem 0.6rem 0;
}

.navbar-toggler {
  cursor: pointer;
  padding: 10px;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  border: none;
}




.container h3 {
    font-weight: 200;
    line-height: 2.5rem;
}



.downloads-desktop.os-selector-home {
  display: inline-flex;
  min-width: 480px
}


.downloads-mobile {
  display: none
}

@media (max-width: 990px) {

  .downloads-desktop {display: none}
  .downloads-mobile {display: block}

  .outter {
    padding-top: 7rem;
  }

  .homepage-hero {
    margin-top: 0;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .row-block {
    padding-top: 4em;
    padding-bottom: 4em;
    position: relative;
  }
  .os-selector-home {
    margin-bottom: 10px;
  }
  .hero-btn {
    padding-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .os-selector-home .btn {
    margin-bottom: 0px;
  }
  .row-block h2 {
    margin: 2em 0px;
  }
  .selected-os-download.btn-icon {
    width: 100%;
  }
  .dropdown-menu {
    width: 100%;
  }
  .display-1 {
    font-size: 2.5rem;
  }
  ul.navbar-nav.ml-auto {
    background: #fff;
  }
  .navbar {
    border-bottom: #EBEBEB 1px solid;
    background: #fff !important;
    padding: 0.2rem 1rem;
    height: auto;
  }
  .navbar-nav .nav-link {
    padding-left: 0;
    margin-left: 0;
  }
  .navbar-light .navbar-nav .nav-item .nav-link,
  .navbar-light .navbar-nav .nav-item .nav-link:hover,
  .navbar-light .navbar-nav .nav-item.current .nav-link {
    border-bottom: none;
  }



  .flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  td {
    padding: 0.6rem 0.5rem 0.6rem 0;
    vertical-align: text-top;
  }

  .oversized{
    font-size: 3.5em;
    letter-spacing: -.1rem;
  }

}

@media (max-width: 1100px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.1rem;
    padding-left: 0.1em;
  }
}



@media (max-width: 1000px) {
  .step-image {
      margin-top: 2rem;
  }
}


@media (max-width: 767px) {

  .outter {
    padding-top: 7rem;
  }

  .container h3 {
    font-weight: 200;
    line-height: 2rem;
    font-size: 1.5rem;
  }


  .step-image {
      position: relative;
      margin-top: 0rem;
      width: 100%;
  }


  .page-footer ul li{
    line-height:3em;
  }

  ul.divide-2col {
    column-count: 1;
    column-gap: 0;
  }
  ul.divide-3col {
    column-count: 1;
    column-gap: 0;
  }


}




.navbar-light .navbar-toggler .navbar-toggler-icon  {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTEyIDExMiI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBjbGlwLXBhdGg6IHVybCgjY2xpcC1jbG9zZSk7ICAgICAgfSAgICAgIC5jbHMtMiB7ICAgICAgICBmaWxsOiBub25lOyAgICAgICAgc3Ryb2tlOiAjNmU2ZTZlOyAgICAgICAgc3Ryb2tlLXdpZHRoOiA2cHg7ICAgICAgfSAgICAgIC5jbHMtMyB7ICAgICAgICBmaWxsOiAjZmZmOyAgICAgIH0gICAgPC9zdHlsZT4gICAgPGNsaXBQYXRoIGlkPSJjbGlwLWNsb3NlIj4gICAgICA8cmVjdCB3aWR0aD0iMTEyIiBoZWlnaHQ9IjExMiIvPiAgICA8L2NsaXBQYXRoPiAgPC9kZWZzPiAgPGcgaWQ9ImNsb3NlIiBjbGFzcz0iY2xzLTEiPiAgICA8cmVjdCBjbGFzcz0iY2xzLTMiIHdpZHRoPSIxMTIiIGhlaWdodD0iMTEyIi8+ICAgIDxsaW5lIGlkPSJMaW5lXzQiIGRhdGEtbmFtZT0iTGluZSA0IiBjbGFzcz0iY2xzLTIiIHgyPSI4OC42NTMiIHkyPSI4OC42NTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyLjE3MyAxMi4xNzMpIi8+ICAgIDxsaW5lIGlkPSJMaW5lXzYiIGRhdGEtbmFtZT0iTGluZSA2IiBjbGFzcz0iY2xzLTIiIHgyPSI4OC42NTMiIHkyPSI4OC42NTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMC44MjcgMTIuMTczKSByb3RhdGUoOTApIi8+ICA8L2c+PC9zdmc+);
  background-size: 70%;
}

.navbar-light .navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTEyIDExMiI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBjbGlwLXBhdGg6IHVybCgjY2xpcC1oYW0pOyAgICAgIH0gICAgICAuY2xzLTIgeyAgICAgICAgZmlsbDogbm9uZTsgICAgICAgIHN0cm9rZTogIzZlNmU2ZTsgICAgICAgIHN0cm9rZS13aWR0aDogNnB4OyAgICAgIH0gICAgICAuY2xzLTMgeyAgICAgICAgZmlsbDogI2ZmZjsgICAgICB9ICAgIDwvc3R5bGU+ICAgIDxjbGlwUGF0aCBpZD0iY2xpcC1oYW0iPiAgICAgIDxyZWN0IHdpZHRoPSIxMTIiIGhlaWdodD0iMTEyIi8+ICAgIDwvY2xpcFBhdGg+ICA8L2RlZnM+ICA8ZyBpZD0iaGFtIiBjbGFzcz0iY2xzLTEiPiAgICA8cmVjdCBjbGFzcz0iY2xzLTMiIHdpZHRoPSIxMTIiIGhlaWdodD0iMTEyIi8+ICAgIDxsaW5lIGlkPSJMaW5lXzMiIGRhdGEtbmFtZT0iTGluZSAzIiBjbGFzcz0iY2xzLTIiIHgyPSIxMTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuNSAxNi41KSIvPiAgICA8bGluZSBpZD0iTGluZV80IiBkYXRhLW5hbWU9IkxpbmUgNCIgY2xhc3M9ImNscy0yIiB4Mj0iMTEyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjUgNTYuNSkiLz4gICAgPGxpbmUgaWQ9IkxpbmVfNSIgZGF0YS1uYW1lPSJMaW5lIDUiIGNsYXNzPSJjbHMtMiIgeDI9IjExMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC41IDk2LjUpIi8+ICA8L2c+PC9zdmc+);
  background-size: 70%;
}

.navbar-toggler:focus {
    outline: none;
}





.fadeIn {
  -moz-animation: fadeIn 1s ease-out forwards;
  animation: fadeIn 1s ease-out forwards;
  -webkit-
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1 }
}

@-webkit-keyframes fadeIn{
/* Safari and Chrome */
  from { opacity: 0; }
  to { opacity: 1; }
}




.animate1 {
  position: relative;
  -webkit-animation: fadeMove 1s ease-out forwards;
  -moz-animation: fadeMove 1s ease-out forwards;
  animation: fadeMove 1s ease-out forwards;
  opacity:0;
}

@keyframes fadeMove {
  from { top: 30px; opacity: 0; }
  to { top: 0px; opacity: 1 }
}

@-webkit-keyframes fadeMove{
/* Safari and Chrome */
  from { top: 30px; opacity: 0; }
  to { top: 0px;  opacity: 1; }
}


.animate2 {
  position: relative;
  -webkit-animation: fadeMove 1s ease-out forwards;
  -moz-animation: fadeMove 1s ease-out forwards;
  animation: fadeMove 1s ease-out forwards;
  opacity:0;
  animation-delay: 0.6s;
}

@keyframes fadeMove {
  from { top: 50px; opacity: 0; }
  to { top: 0px; opacity: 1 }
}

@-webkit-keyframes fadeMove{
/* Safari and Chrome */
  from { top: 50px; opacity: 0; }
  to { top: 0px;  opacity: 1; }
}
