title: Bisq
url: "https://bisq.network"
markdown: kramdown
permalink: /blog/:title/
livereload: true
plugins:
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
feed:
  path: blog/feed.atom
include:
  - _redirects
  - _headers
exclude:
  - CNAME
  - README
  - Gemfile
collections:
  dashboard:
    output: true
  proposalcommentaries:
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      en-only: true
  -
    scope:
      path: ""
      type: "pages"
    values:
      en-only: false
paginate: 10
paginate_path: "/blog/page/:num/"
client_version: "1.9.1"
sass:
  style: compressed
webrick:
  headers:
    Strict-Transport-Security: "max-age=63072000; includeSubDomains; preload"
    X-XSS-Protection: "1; mode=block"
    X-Content-Type-Options: "nosniff"
    X-Frame-Options: "SAMEORIGIN"
