---
layout: default
title: The DAO &lsaquo; Bisq - The decentralized Bitcoin exchange
ref: dao
---

<style>

    .split-text{
      max-width:500px;
      line-height: 2em;
    }

    .split-cointainer-main {
      min-height: calc(100vh - 70px);

    }

    .split-container-main .title{
      font-size: 5em;
      font-weight: 100;
      margin-left:-0.5rem;
      line-height: 1em;
      max-width: 400px;
    }

    .split-container-main .intro{
      font-size: 2.5em;
      font-weight: 200;
      line-height: 1.2em;
      padding-top: 2rem;
    }


    img.arrow_down{
        height: 20px;
        width: 15px !important;
        margin-left: 5px;
        margin-top: -3px;
    }

    span.asterisk {
        font-size: 0.5em;
        vertical-align: text-top;
    }

    .footnote {
        font-size: 13px;
        display: block;
        font-weight: 300;
        line-height: 1.3em;
        margin: 2em 0 5em 0;
    }

    .split-cointainer {
      min-height: calc(100vh - 70px);
    }

    .split-container .title{
      font-size: 1em;
      font-weight: 300;
      color: #25B135;
      text-transform: uppercase;
    }

    .split-container .intro{
      font-size: 1.5em;
      font-weight: 200;
    }

    .split-container .subtitle{
      font-size: 0.65em;
      font-weight: 500;
      padding-bottom: 1em;
    }

    .split-container .small{
      font-size: 0.65em;
      font-weight: 300;
      line-height: 1.5em;
    }

    .disclaimer {
        font-weight: 500;
        font-size: 0.8em;
        line-height: 1.4em;
        color: #bdc3c7 !important;
    }

    .split-container p {
        margin-bottom: 0.85rem;
    }

    .split{ text-align:left; }



    .split-last { background: #25B135; }
    .split-first { background: #fff; }
    /*
    .split-invert .split-last { background: #25B135; }
    .split-invert .split-first { background: #fff; }
    */

    .split-invert {
        flex-direction: row-reverse;
    }

    .split img {
      width: 100%;
      max-height: 100%;
      padding-left: 2em;
      padding-right: 0em;
    }

    .split-invert img{
      padding-right: 2em;
      padding-left: 0em;
    }




    .split-container ul {
        margin: 0;
        padding-left: 1em;
    }


    .conclusion{
      background: #2f2f2f; color: #fff;
      font-weight: 400;
    }


    .outter {
        padding-top: 0px;
    }










    @media (min-width: 990px) {



      .h-md-100 {
        height: calc(100vh - 70px);
        min-height: 740px;
      }

      .outter {
          padding-top: 70px;
      }

    }

    @media (max-width: 990px) {

      .outter {
          padding-top: 50px;
      }


      .split-container-main .title {
          font-size: 4em;
      }

      .split-container-main .intro {
        font-size: 1.5em;
        line-height: 1.3em;
      }

      .split img {
        padding-right: 0em;
        padding-left: 0em;
      }

      .split-invert img {
        padding-right: 0em;
        padding-left: 0em;
      }

      .h-md-100 {
        height: auto;
        min-height: auto;
      }

      .footnote {
          margin: 1em 0 2em 0;
          padding-right: 6em;
      }


    }

</style>



{% for entry in site.data.dao_content[site.lang] %}
<div id="{{ entry.id }}" class="d-lg-flex h-md-100 align-items-center split-container{{ entry.class }} {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}{% if thecycle == 'even' %}split-invert{% endif %}">
    <div class="col-lg-6 p-0 h-md-100 split split-first">
        <div class="d-md-flex align-items-center h-100 p-5 justify-content-center">
            <div class="pt-sm-0 pt-md-5 pb-5 split-text">
                <div class="title">
                  {{ entry.title }}
                </div>
                <div class="intro">
                  {{ entry.intro }}
                </div>
                <a href="{{ entry.href }}" target="_blank">{{ entry.href_text }}</a>
            </div>
        </div>
    </div>

    <div class="col-lg-6 p-0 h-md-100 split split-last">
        <div class="d-md-flex align-items-center h-md-100 p-1 p-lg-5 pt-5 pb-5 justify-content-center">
            <img src="{{ entry.img }}" />
        </div>
    </div>

</div>
{% endfor %}



<div class="conclusion m-0 pb-5">
  <div class="row-block container">
    <h2 style="margin: 2em 0;">{% t dao.hLearnMore %}</h2>


      <div class="row">

        <div class="col-12 col-md-10 pb-5">
          <div class="subtitle">
            {% t dao.pLearnMore %}
          </div>
        </div>

      </div>

      <div class="row pb-5">

          <div class="col-12 col-md-6 pb-5 pr-5">
            <div class="text-uppercase grey">
              {% t dao.conceptualOverview %}
            </div>
              {% t dao.pConceptualOverview %}
          </div>


          <div class="col-12 col-md-6 pb-5 pr-5">
            <div class="text-uppercase grey">
              {% t dao.bisqDaoBrief %}
            </div>
            {% t dao.pBisqDaoBrief %}
          </div>

          <div class="col-12 col-md-6 pb-5 pr-5">
            <div class="text-uppercase grey">
              {% t dao.technicalOverview %}
            </div>
            {% t dao.pTechnicalOverview %}
          </div>

          <div class="col-12 col-md-6 pb-5 pr-5">
            <div class="text-uppercase grey">
              {% t dao.notConvinced %}
            </div>
            {% t dao.pNotConvinced %}
          </div>


      </div>



      <div class="row">

        <div class="col-12 col-md-8 pb-5 grey">
            {% t dao.seeMore %}
        </div>

      </div>


    </div>



  </div>
</div>

<script>
    window.onload = function() {
        $(".animate-scroll").click(function (){
            event.preventDefault();
            var hash = this.hash;
            $('html, body').animate({
                scrollTop: $(hash).offset().top - 70
            }, 500);
        });
    };
</script>
