<option value="all">All Currency Summary</option>
<option value="zoc_btc">01coin (ZOC)</option>
<option value="ach_btc">AchieveCoin (ACH)</option>
<option value="aqua_btc">Aquachain (AQUA)</option>
<option value="btc_ars">Argentine Peso (ARS)</option>
<option value="btc_aud">Australian Dollar (AUD)</option>
<option value="btc_bhd">Bahraini Dinar (BHD)</option>
<option value="bch_btc">Bitcoin Cash (BCH)</option>
<option value="bchc_btc">Bitcoin Clashic (BCHC)</option>
<option value="btg_btc">Bitcoin Gold (BTG)</option>
<option value="btc_brl">Brazilian Real (BRL)</option>
<option value="btc_gbp">British Pound Sterling (GBP)</option>
<option value="burst_btc">Burstcoin (BURST)</option>
<option value="gbyte_btc">Byte (GBYTE)</option>
<option value="btc_khr">Cambodian Riel (KHR)</option>
<option value="btc_cad">Canadian Dollar (CAD)</option>
<option value="btc_clp">Chilean Peso (CLP)</option>
<option value="btc_cny">Chinese Yuan (CNY)</option>
<option value="btc_crc">Costa Rican Colón (CRC)</option>
<option value="xcp_btc">Counterparty (XCP)</option>
<option value="crea_btc">Creativecoin (CREA)</option>
<option value="cnmc_btc">Cryptonodes (CNMC)</option>
<option value="btc_czk">Czech Republic Koruna (CZK)</option>
<option value="dac_btc">DACash (DAC)</option>
<option value="dnet_btc">DarkNet (DNET)</option>
<option value="dash_btc">Dash (DASH)</option>
<option value="dcr_btc">Decred (DCR)</option>
<option value="onion_btc">DeepOnion (ONION)</option>
<option value="doge_btc">Dogecoin (DOGE)</option>
<option value="dmc_btc">DynamicCoin (DMC)</option>
<option value="ella_btc">Ellaism (ELLA)</option>
<option value="esp_btc">Espers (ESP)</option>
<option value="eth_btc">Ether (ETH)</option>
<option value="etc_btc">Ether Classic (ETC)</option>
<option value="btc_eur">Euro (EUR)</option>
<option value="grc_btc">Gridcoin (GRC)</option>
<option value="btc_hkd">Hong Kong Dollar (HKD)</option>
<option value="btc_inr">Indian Rupee (INR)</option>
<option value="iop_btc">Internet of People (IOP)</option>
<option value="btc_ils">Israeli New Sheqel (ILS)</option>
<option value="btc_jpy">Japanese Yen (JPY)</option>
<option value="koto_btc">Koto (KOTO)</option>
<option value="lbc_btc">LBRY Credits (LBC)</option>
<option value="lsk_btc">Lisk (LSK)</option>
<option value="ltc_btc">Litecoin (LTC)</option>
<option value="maid_btc">MaidSafeCoin (MAID)</option>
<option value="maza_btc">Mazacoin (MAZA)</option>
<option value="btc_mxn">Mexican Peso (MXN)</option>
<option value="mcc_btc">MicroCoin (MCC)</option>
<option value="xmr_btc">Monero (XMR)</option>
<option value="mt_btc">Mycelium Token (MT)</option>
<option value="nmc_btc">Namecoin (NMC)</option>
<option value="nav_btc">Nav Coin (NAV)</option>
<option value="btc_nzd">New Zealand Dollar (NZD)</option>
<option value="btc_ngn">Nigerian Naira (NGN)</option>
<option value="btc_nok">Norwegian Krone (NOK)</option>
<option value="nbt_btc">NuBits (NBT)</option>
<option value="nxt_btc">Nxt (NXT)</option>
<option value="odn_btc">Obsidian (ODN)</option>
<option value="btc_omr">Omani Rial (OMR)</option>
<option value="pivx_btc">PIVX (PIVX)</option>
<option value="btc_pgk">Papua New Guinean Kina (PGK)</option>
<option value="pasc_btc">Pascal Coin (PASC)</option>
<option value="pepecash_btc">Pepe Cash (PEPECASH)</option>
<option value="btc_php">Philippine Peso (PHP)</option>
<option value="ppi_btc">Pied Piper Coin (PPI)</option>
<option value="btc_pln">Polish Zloty (PLN)</option>
<option value="post_btc">PostCoin (POST)</option>
<option value="pnc_btc">Pranacoin (PNC)</option>
<option value="rdd_btc">ReddCoin (RDD)</option>
<option value="rin_btc">Ringo (RIN)</option>
<option value="btc_rub">Russian Ruble (RUB)</option>
<option value="steem_btc">STEEM (STEEM)</option>
<option value="sfsc_btc">Safe FileSystem Coin (SFSC)</option>
<option value="sem_btc">Semux (SEM)</option>
<option value="sc_btc">Siacoin (SC)</option>
<option value="sf_btc">Siafund (SF)</option>
<option value="sib_btc">Sibcoin (SIB)</option>
<option value="btc_zar">South African Rand (ZAR)</option>
<option value="xspec_btc">Spectrecoin (XSPEC)</option>
<option value="btc_sek">Swedish Krona (SEK)</option>
<option value="btc_chf">Swiss Franc (CHF)</option>
<option value="trc_btc">Terracoin (TRC)</option>
<option value="btc_thb">Thai Baht (THB)</option>
<option value="btc_usd">US Dollar (USD)</option>
<option value="uno_btc">Unobtanium (UNO)</option>
<option value="btc_vuv">Vanuatu Vatu (VUV)</option>
<option value="btc_vnd">Vietnamese Dong (VND)</option>
<option value="wavi_btc">Wavi (WAVI)</option>
<option value="wmcc_btc">WorldMobileCoin (WMCC)</option>
<option value="xuez_btc">Xuez (XUEZ)</option>
<option value="zec_btc">Zcash (ZEC)</option>
<option value="xzc_btc">Zcoin (XZC)</option>
<option value="zen_btc">ZenCash (ZEN)</option>
