<footer class="page-footer font-small blue pt-4 dark-grey">

    <div class="container-fluid text-md-left px-0">

      <div class="row mx-0 pb-md-5 pb-sm-5">

        <div class="col-sm-12 col-md-6 mt-md-0 mt-3 pl-md-5 pl-sm-2 small">
          <h5 class="text-uppercase small grey">Bisq APPs</h5>
          <p>Copy About the APPs, a blurb on why download and how to use. WIP</p>
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.joachimneumann.bisq"><img class="badge-img" alt="Get it on Google Play" src="{{ site.url }}/images/badge_google_play.svg"/></a>
          &nbsp;
          <a target="_blank" href="https://itunes.apple.com/us/app/bisq-mobile/id1424420411"><img class="badge-img" alt="Get it on the App Store" src="{{ site.url }}/images/badge_app_store.svg"/></a>
        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-sm-6 col-md-3 mb-md-0 mb-3 small">
            <h5 class="text-uppercase small grey">Integrations</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://markets.bisq.network/" target="_blank">Markets</a>
              </li>
              <li>
                <a href="#!">Trading API</a>
              </li>
              <li>
                <a href="#!">Mobile App</a>
              </li>
              <li>
                <a href="#!">Price Node</a>
              </li>
              <li>
                <a href="#!">TBD</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 col-md-3 mb-md-0 mb-3 pr-md-5 pr-sm-2 small">
            <h5 class="text-uppercase small grey">Resources</h5>
            <ul class="list-unstyled">
              <li>
                <a href="/press">Press</a>
              </li>
              <li>
                <a href="/downloads">Downloads</a>
              </li>
              <li>
                <a href="/roadmap">Roadmap</a>
              </li>
              <li>
                <a href="/dao">DAO</a>
              </li>
              <li>
                <a href="/contribute">Contribute</a>
              </li>
            </ul>
          </div>

      </div>

    </div>



    <div class="darker-grey">
      <div class="footer-copyright py-3  row mx-0">

        <div class="text-left col-sm-6 mt-md-3 mt-3 mb-md-2 mb-sm-3 px-lg-5 px-sm-5 small grey">
          © 2018 Bisq
        </div>

        <div class="text-sm-right text-left col-sm-6 mt-md-2 mt-3 mb-md-0 mb-3 ml-auto px-lg-5 px-sm-5 small grey">



          <span id="community-footer">
            <a target="_blank" title="GitHub" href="https://github.com/bisq-network"> <img src="{{ site.url }}/images/community/github.svg" alt="github"> </a>
            <a target="_blank" title="Twitter" href="https://twitter.com/bisq_network"> <img src="{{ site.url }}/images/community/twitter.svg" alt="twitter"> </a>
            <a target="_blank" title="YouTube" href="https://www.youtube.com/c/bisq-network"><img src="{{ site.url }}/images/community/youtube.svg" alt="youtube"> </a>
            <a target="_blank" title="Slack" href="https://bisq.network/slack-invite"><img src="{{ site.url }}/images/community/slack.svg" alt="slack"> </a>
            <a target="_blank" title="Bisq Forum" href="https://bisq.community"><img src="{{ site.url }}/images/community/forum.svg" alt="forum"> </a>
            <a target="_blank" title="Mailing List" href="https://lists.bisq.network/listinfo/bisq-contrib"><img src="{{ site.url }}/images/community/mailinglist.svg" alt="mailinglist"> </a>
            <a target="_blank" title="IRC" href="https://webchat.freenode.net/?channels=bisq"><img src="{{ site.url }}/images/community/irc.svg" alt="irc"> </a>
            <a target="_blank" title="Reddit" href="https://www.reddit.com/r/bisq"><img src="{{ site.url }}/images/community/reddit.svg" alt="reddit"> </a>
          </span>








        </div>

      </div>
    </div>

  </footer>
