<footer class="page-footer font-small blue pt-4 dark-grey">

    <div class="container-fluid text-center text-md-left px-0">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3 pl-md-5 pl-sm-2 small">
          <h5 class="text-uppercase small grey">Bisq APPs</h5>
          <p>Copy About the APPs, a blurb on why download and how to use. WIP</p>
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.joachimneumann.bisq"><img class="badge-img" alt="Get it on Google Play" src="../images/badge_google_play.svg"/></a>
          &nbsp;
          <a target="_blank" href="https://itunes.apple.com/us/app/bisq-mobile/id1424420411"><img class="badge-img" alt="Get it on the App Store" src="../images/badge_app_store.svg"/></a>
        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3 small">
            <h5 class="text-uppercase small grey">Integrations</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://markets.bisq.network/" target="_blank">Markets</a>
              </li>
              <li>
                <a href="#!">Trading API</a>
              </li>
              <li>
                <a href="#!">Mobile App</a>
              </li>
              <li>
                <a href="#!">Price Node</a>
              </li>
              <li>
                <a href="#!">TBD</a>
              </li>
            </ul>
          </div>

          <div class="col-md-3 mb-md-0 mb-3 pr-md-5 pr-sm-2 small">
            <h5 class="text-uppercase small grey">Resources</h5>
            <ul class="list-unstyled">
              <li>
                <a href="/press">Press</a>
              </li>
              <li>
                <a href="/downloads">Downloads</a>
              </li>
              <li>
                <a href="/roadmap">Roadmap</a>
              </li>
              <li>
                <a href="/dao">DAO</a>
              </li>
              <li>
                <a href="/contribute">Contribute</a>
              </li>
            </ul>
          </div>

      </div>

    </div>

    <div class="footer-copyright py-3 darker-grey row">
      
      <div class="text-left col-md-4 mb-md-0 mb-3 pl-md-5 pl-sm-2 small grey">
        © 2018 Bisq
      </div>
      
      <div class="text-right col-md-4 mb-md-0 mb-3 ml-auto pr-md-5 pr-sm-2 small grey">
        <a class="grey" href="#!">Github</a>  |  <a class="grey" href="#!">Youtube</a>  |  <a class="grey" href="#!">Twitter</a>
      </div>
      
    </div>

  </footer>
