<footer class="page-footer font-small blue pt-2 pt-md-5 dark-grey">

    <div class="container-fluid text-md-left px-0">

      <div class="row mx-0 pb-md-5 pb-sm-5">

        <div class="col-12 col-lg-4 mt-md-0 mt-3 pl-md-5 pl-sm-3 small px-sm-4 px-4">
          <h5 class="text-uppercase small grey">{% t footer.notificationApp %}</h5>
          <a target="_blank" rel="noopener" class="app-link" href="https://play.google.com/store/apps/details?id=com.joachimneumann.bisq"><img class="badge-img" alt="Get it on Google Play" src="/images/badge_google_play.svg"/></a>
          &nbsp;
          <a target="_blank" rel="noopener" class="app-link" href="https://itunes.apple.com/us/app/bisq-mobile/id1424420411"><img class="badge-img" alt="Get it on the App Store" src="/images/badge_app_store.svg"/></a>


          <div class="text-left small grey pt-4">
            {% t footer.siteYear %}
          </div>






        </div>

        <hr class="clearfix w-100 d-lg-none pb-3">

        <div class="col-12 col-lg-5 mb-md-0 mb-3 pr-md-5 pr-sm-2 small px-4 px-md-5">
          <h5 class="text-uppercase small grey">{% t footer.ulResources %}</h5>
          <ul class="list-unstyled divide-3col" style="column-gap: 3rem;">
            <!--<li>
              <a href="/press">Press</a>
            </li>-->
            <li>
			  <a href={% if site.lang == "en" %}"/downloads"{% else %}"/{{ site.lang }}/downloads"{% endif %}>{% t footer.liDownloads %}</a>
            </li>
            <li>
              <a href="/roadmap">{% t footer.liRoadmap %}</a>
            </li>
            <li>
              <a href="https://docs.bisq.network/contributor-checklist.html" target="_blank" rel="noopener">{% t footer.liContribute %}</a>
            </li>
            <li>
              <a href="https://markets.bisq.network/api/" target="_blank" rel="noopener">{% t footer.liMarketData %}</a>
            </li>
            <!--
            lets activate it once we have a dynamic content
            <li>
               <a href="/stats">Stats</a>
             </li>-->
          </ul>
        </div>

        <hr class="clearfix w-100 d-lg-none pb-3">

        <div class="col-12 col-lg-3 mb-md-0 mb-3 small px-4 px-md-5 pb-1 pb-5">

          <h5 class="text-uppercase small grey">{% t footer.joinBisq %}</h5>

          <span id="community-footer">
            <a target="_blank" rel="noopener" title="GitHub" href="https://github.com/bisq-network"> <img src="/images/community/github_w.svg" alt="github"> </a>
            <a target="_blank" rel="noopener" title="Twitter" href="https://twitter.com/bisq_network"> <img src="/images/community/twitter_w.svg" alt="twitter"> </a>
            <a target="_blank" rel="noopener" title="YouTube" href="https://www.youtube.com/c/bisq-network"><img src="/images/community/youtube_w.svg" alt="youtube"> </a>
            <a target="_blank" rel="noopener" title="Slack" href="https://bisq.network/slack-invite"><img src="/images/community/slack_w.svg" alt="slack"> </a>
            <a target="_blank" rel="noopener" title="Bisq Forum" href="https://bisq.community"><img src="/images/community/forum_w.svg" alt="forum"> </a>
            <a target="_blank" rel="noopener" title="Mailing List" href="https://lists.bisq.network/listinfo/bisq-contrib"><img src="/images/community/mailinglist_w.svg" alt="mailinglist"> </a>
            <a target="_blank" rel="noopener" title="IRC" href="https://webchat.freenode.net/?channels=bisq"><img src="/images/community/irc_w.svg" alt="irc"> </a>
            <a target="_blank" rel="noopener" title="Reddit" href="https://www.reddit.com/r/bisq"><img src="/images/community/reddit_w.svg" alt="reddit"> </a>
            <a target="_blank" rel="noopener" title="Keybase" href="https://keybase.io/team/bisq"><img src="/images/community/keybase_w.svg" alt="keybase"> </a>
          </span>

          </div>
      </div>
    </div>



  </footer>
