<div class="container fadeIn">

        <main class="bd-masthead" id="content" role="main">
            <div class="row align-items-center">
              <div class="col-md-12 order-md-1 text-md-left px-3 px-md-5">
                <h1 class="intro text-monospace display-1" style="margin-left: -.3rem;"><span class="animate1">Exchange,</span> <span class="animate2">Decentralized.</span></h1>

                <div class="row-block pl-0 pt-4 pt-md-5 pr-0 pr-lg-5">

                    <p class="lead col-md-8 col-sm-12 pl-0 pb-5">
                      Bisq is an open-source, peer-to-peer application that allows you to buy and sell cryptocurrencies in exchange for national currencies. No registration required.
                    </p>

                    <div class="d-flex flex-column flex-md-row lead mb-1">

                      <div class="downloads-desktop btn-group os-selector-home col-sm-12 col-md-12 col-lg-5 px-0">

                          <!-- This what displays on the dropdown in collapsed state -->
                          <button class="btn btn-outline-secondary btn-lg selected-os-download btn-icon shadow-btn" type="button" data-bisq-version="{{ site.client_version }}" data-site-url="{{ site.url }}">
                              <div class="id-win64 hidden">
                                  <div class="float-left">
                                      <img src="{{ site.url }}/images/icon-windows-g.svg" class="os-icon os-icon-g">
                                      <img src="{{ site.url }}/images/icon-windows-w.svg" class="os-icon os-icon-w">
                                      Download for Windows
                                  </div>
                                  <div class="float-right">
                                      <a class="dl-win64" href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.exe">.exe</a>
                                  </div>
                              </div>

                              <div class="id-mac hidden">
                                  <div class="float-left">
                                      <img src="{{ site.url }}/images/icon-apple-g.svg" class="os-icon os-icon-g">
                                      <img src="{{ site.url }}/images/icon-apple-w.svg" class="os-icon os-icon-w">
                                      Download for Mac
                                  </div>
                                  <div class="float-right">
                                      <a class="dl-mac" href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-{{ site.client_version }}.dmg">.dmg</a>
                                  </div>
                              </div>

                              <div class="id-deb64 hidden">
                                  <div class="float-left">
                                      <img src="{{ site.url }}/images/icon-ubuntu-g.svg" class="os-icon os-icon-g">
                                      <img src="{{ site.url }}/images/icon-ubuntu-w.svg" class="os-icon os-icon-w">
                                      Download for Debian/Ubuntu
                                  </div>
                                  <div class="float-right">
                                      <a class="dl-deb64" href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.deb">.deb</a>
                                  </div>
                              </div>

                              <div class="id-rpm64 hidden">
                                  <div class="float-left">
                                      <img src="{{ site.url }}/images/icon-linux-g.svg" class="os-icon os-icon-g">
                                      <img src="{{ site.url }}/images/icon-linux-w.svg" class="os-icon os-icon-w">
                                      Download for Red Hat/Fedora
                                  </div>
                                  <div class="float-right">
                                      <a class="dl-rpm64" href="https://github.com/bisq-network/bisq/releases/download/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.rpm">.rpm</a>
                                  </div>
                              </div>

                              <div class="id-all hidden">
                                  <div class="float-left">
                                      <img src="{{ site.url }}/images/icon-download-g.svg" class="os-icon os-icon-g">
                                      <img src="{{ site.url }}/images/icon-download-w.svg" class="os-icon os-icon-w">
                                      Downloads
                                  </div>
                                  <div class="float-right">
                                      <a href="{{ site.url }}/downloads">Get Bisq</a>
                                  </div>
                              </div>
                          </button>

                          <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split hero-btn shadow-btn " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="sr-only">Toggle Dropdown</span>
                          </button>

                          <div class="dropdown-menu dropdown-menu-right shadow-lg">
                              {% include os_selector_options.html %}
                          </div>

                      </div>


                      <a href="{{ site.url }}/downloads" class="downloads-mobile btn btn-lg btn-outline-secondary btn-icon hero-btn col-sm-12 col-md-12 col-lg-3 px-0 shadow-btn ">
                          <img src="{{ site.url }}/images/icon-download-g.svg" class="os-icon os-icon-g">
                          <img src="{{ site.url }}/images/icon-download-w.svg" class="os-icon os-icon-w">
                          Downloads
                      </a>


                      <a href="https://play.google.com/store/apps/details?id=com.joachimneumann.bisq" target="_blank" rel="noopener" class="downloads-android hidden btn btn-lg btn-outline-secondary btn-icon hero-btn col-sm-12 col-md-12 col-lg-3 px-0 shadow-btn" onclick="ga('send', 'event', 'Jumbotron actions', 'download', 'android-notifications');">
                          <img src="{{ site.url }}/images/icon-android-g.svg" class="os-icon os-icon-g">
                          <img src="{{ site.url }}/images/icon-android-w.svg" class="os-icon os-icon-w">
                          Get Android Notifications App
                      </a>


                      <a href="https://play.google.com/store/apps/details?id=com.joachimneumann.bisq" target="_blank" rel="noopener" class="downloads-ios hidden btn btn-lg btn-outline-secondary btn-icon hero-btn col-sm-12 col-md-12 col-lg-3 px-0 shadow-btn" onclick="ga('send', 'event', 'Jumbotron actions', 'download', 'ios-notifications');">
                          <img src="{{ site.url }}/images/icon-apple-g.svg" class="os-icon os-icon-g">
                          <img src="{{ site.url }}/images/icon-apple-w.svg" class="os-icon os-icon-w">
                          Get iOS Notifications App
                      </a>


                      <a href="https://docs.bisq.network/getting-started.html" target="_blank" rel="noopener" class="btn btn-lg btn-outline-secondary btn-icon hero-btn col-sm-12 col-md-12 col-lg-3 px-0 shadow-btn">
                          Get Started »
                      </a>

                      {% comment %}

                      <a id="play-video" href="" class="btn btn-lg btn-outline-secondary btn-icon hero-btn col-sm-12 col-md-12 col-lg-3 px-0 shadow-btn ">
                                <img src="{{ site.url }}/images/icon-play-g.svg" class="os-icon os-icon-g">
                                <img src="{{ site.url }}/images/icon-play-w.svg" class="os-icon os-icon-w">
                                Play Video
                      </a>

                      <div id="video-overlay" style="display:none">
                        <div class="embed-responsive">
                          <iframe id="video" width="420" height="315" src="//www.youtube.com/embed/9B7te184ZpQ?rel=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                      </div>

                      {% endcomment %}

                    </div>


                    <p class="text-muted mb-0 mt-1 small" style="opacity: 0.5">
                      v{{ site.client_version }} — <span class="id-win64 hidden">You appear to be running Windows.</span>
                                                   <span class="id-mac hidden">You appear to be using a Mac.</span>
                                                   <span class="id-deb64 hidden">You appear to be using Debian/Ubuntu.</span>
                                                   <span class="id-rpm64 hidden">You appear to be using Red Hat/Fedora.</span>
                                                   <span class="id-all hidden">Current Version</span> <!-- fallback text if no desktop os recognized -->
                    </p>



                </div>



              </div>
              <div class="col-md-12 order-md-1 text-md-left homepage-hero">
                <img class="img-fluid shadow-lg" alt="bisq" style="width: 100%; display: block;" src="{{ site.url }}/images/bisq_screen0.png">
              </div>
            </div>



          </main>

</div>


<div class="grey-back">
  <div class="container">

    <div class="row-block row">

      <h2>Features</h2>
      <div class="row align-items-center text-md-center text-left">
        <div class="col-12 col-md-6 pr-5">
          <img class="features-pic mb-4 mt-2 mt-md-5 mx-md-auto" src="{{ site.url }}/images/pic-no-reg.svg" />
          <h4>No Identity Verification</h4>
          <p class="grey px-md-5">Instantly Accessible. No need for registration or approval from a central authority.</p>
        </div>
        <div class="col-12 col-md-6 pr-5">
          <img class="features-pic mb-4 mt-2 mt-md-5 mx-md-auto pr-md-3" src="{{ site.url }}/images/pic-decentralized.svg" />
          <h4>Decentralized</h4>
          <p class="grey px-md-5">Trading takes place on a global P2P network of users running Bisq on their own machines.</p>
        </div>
        <div class="col-12 col-md-6 pr-5">
          <img class="features-pic mb-4 mt-2 mt-md-5 mx-md-auto pl-md-4" src="{{ site.url }}/images/pic-padlock.svg" />
          <h4>Safe</h4>
          <p class="grey px-md-5">Bisq never holds your funds. Security deposits and multisig trade wallets encourage safe, successful trades.</p>
        </div>
        <div class="col-12 col-md-6 pr-5">
          <img class="features-pic mb-4 mt-2 mt-md-5 mx-md-auto" src="{{ site.url }}/images/pic-private.svg" />
          <h4>Private</h4>
          <p class="grey px-md-5">No one except trading partners exchange personally identifying data. All personal data is stored locally.</p>
        </div>
        {% comment %}
        <div class="col-12 col-md-6 pr-5">
          <img class="features-pic mb-4 mt-2 mt-md-5 mx-md-auto" src="{{ site.url }}/images/pic-p2p.svg" />
          <h4>Secure and Always On</h4>
          <p class="grey px-md-5">End-to-end encrypted communication routed over Tor and no down time.</p>
        </div>
        {% endcomment %}
        <div class="col-12 col-md-6 pr-5">
          <img class="features-pic mb-4 mt-2 mt-md-5 mx-md-auto" src="{{ site.url }}/images/pic-open.svg" />
          <h4>Open</h4>
          <p class="grey px-md-5">Code is <a href="https://github.com/bisq-network/bisq" target="_blank" rel="noopener">open source</a>, and project strategy is discussed openly on <a href="https://bisq.network/slack-invite" target="_blank" rel="noopener">Slack</a> and <a href="https://github.com/bisq-network/bisq" target="_blank" rel="noopener">GitHub</a>.</p>
        </div>
        <div class="col-12 col-md-6 pr-5">
          <img class="features-pic mb-4 mt-2 mt-md-5 mx-md-auto" src="{{ site.url }}/images/pic-easy.svg" />
          <h4>Easy to Use</h4>
          <p class="grey px-md-5">We've made all this sophistication simple—<a href='https://docs.bisq.network/getting-started' target='_blank' rel="noopener">make your first trade</a> in under 10 minutes!</p>
        </div>
        <div id="dao-callout" class="col-12 col-md-6 pr-5">
          <img class="features-pic mb-4 mt-2 mt-md-5 mx-md-auto" src="{{ site.url }}/images/dao_homepage.svg" />
          <h4>The Bisq DAO</h4>
          <p>Decentralized governance for a decentralized exchange. <a href="{{ site.url }}/dao">Learn more here</a>.</p>
        </div>
      </div>

    </div>

  </div>
</div>













<div class="row-block justify-content-between container">

  <h2>How to Get Started</h2>

  <div class="row align-items-start">
    <div class="col-12 col-md-4">

      <div class="grey">
        With Bisq, you can start trading in less than 10 minutes:
      </div>
      <ol>
        <li class="mt-4 mb-4 pb-4 border-bottom step step-text-1" data-image="step-image-1"><a href="{{ site.url }}/downloads/">Download the app</a>, or build it from source.</li>
        <li class="mt-0 mb-4 pb-4 border-bottom step step-text-2" data-image="step-image-2">Add your national or crypto currency accounts.</li>
        <li class="mt-0 mb-4 pb-4 border-bottom step step-text-3" data-image="step-image-3">Create new offer or take an existing one.</li>
        <li class="mt-0 step step-text-4" data-image="step-image-4">Follow the user interface to finalize the trade.</li>
      </ol>
    </div>
    <div class="col-12 col-md-7 offset-0 offset-md-1">
      <div class="getting-started-img step-image step-image-1 d-block"><img class="img-fluid shadow-lg" alt="bisq" src="{{ site.url }}/images/bisq_screen0.png"></div>
      <div class="getting-started-img step-image step-image-2 d-none" ><img class="img-fluid shadow-lg" alt="bisq" src="{{ site.url }}/images/bisq_screen1.png"></div>
      <div class="getting-started-img step-image step-image-3 d-none" ><img class="img-fluid shadow-lg" alt="bisq" src="{{ site.url }}/images/bisq_screen0.png"></div>
      <div class="getting-started-img step-image step-image-4 d-none" ><img class="img-fluid shadow-lg" alt="bisq" src="{{ site.url }}/images/bisq_screen1.png"></div>

    </div>
  </div>

</div>


<div class="grey-back" style="margin-bottom:0">
  <div class="row-block container">
    <h2 id="join-the-community">Join the Community</h2>

    <div class="row">

      <div class="col-12 col-md-6 grey bigger">
        <p>Bisq is always looking for highly-skilled developers, designers and security experts to join our <a href="{{ site.url }}/community/">community</a>. If you’re interested in helping make Bisq better, there are many ways to <a href="https://docs.bisq.network/contributor-checklist.html" target="_blank" rel="noopener">contribute</a>.
          We’d love to <a href="{{ site.url }}/community/">hear from you</a>!</p>
        <p>Our <a href="{{ site.url }}/roadmap/">roadmap</a> provides an overview of high-level features and milestones on the way to Bisq v1.0.</p>
      </div>

      <div class="col-12 col-md-6">
        <ul class="community-links grey community-home pl-0 pl-md-4 pt-4 pl-md-0 pt-md-0">
          <li><img src="{{ site.url }}/images/community/github.svg" alt="github"> <a href="https://github.com/bisq-network">@bisq-network on GitHub</a></li>
          <li><img src="{{ site.url }}/images/community/twitter.svg" alt="twitter"> <a href="https://twitter.com/bisq_network">@bisq_network on Twitter</a></li>
          <li><img src="{{ site.url }}/images/community/youtube.svg" alt="youtube"> <a href="https://www.youtube.com/c/bisq-network">Bisq YouTube channel</a></li>
          <li><img src="{{ site.url }}/images/community/slack.svg" alt="slack"> <a href="https://bisq.network/slack-invite">Bisq Slack workspace</a></li>
          <li><img src="{{ site.url }}/images/community/forum.svg" alt="forum"> <a href="https://bisq.community">Bisq Forum</a></li>
          <li><img src="{{ site.url }}/images/community/mailinglist.svg" alt="mailinglist"> <a href="https://lists.bisq.network/listinfo/bisq-contrib">Bisq Contributor mailing list</a></li>
          <li><img src="{{ site.url }}/images/community/irc.svg" alt="irc"> <a href="https://webchat.freenode.net/?channels=bisq">#bisq on Freenode IRC</a></li>
          <li><img src="{{ site.url }}/images/community/reddit.svg" alt="reddit"> <a href="https://www.reddit.com/r/bisq">r/Bisq Subreddit</a></li>
        </ul>
      </div>

    </div>

  </div>
</div>



{% comment %}
<!-- future stats section -->
  <div class="row-block container">

    <div class="row">

      <div class="col-12 col-md-6 grey text-sans">
        <h1 id="join-the-community" class="oversized">300%</h1>
        <p>Data caption</p>
      </div>

    </div>

  </div>
{% endcomment %}
