 <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top pl-md-5 pr-md-5 pl-sm-2 pr-sm-2">
   
    <a class="navbar-brand" href="/"><img src="../images/bisq-logo.svg" height="30"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        {% for item in site.data.main_nav.links %}
          <li class="nav-item {% if page.url == item.url %}current{% endif %}">
            <a class="nav-link" target="{{ item.target }}" href="{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endfor %}


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Downloads
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="navbarDropdown">
              {% include os_selector_options.html %}
            </div>
          </li>

      </ul>
    </div>
</nav>

