 <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top pl-md-5 pr-md-5 pl-sm-3 pr-0">

    <a class="navbar-brand" href="{{ site.url }}/{{ page.lang }}/"><img src="{{ site.url }}/images/bisq-logo.svg" height="30"/></a>
    <button class="navbar-toggler pr-3 pr-md-0 collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

<!-- Language selector -->
{% if page.lang %}
      <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ page.language }}
        </button>
        <div class="dropdown-menu w-auto" aria-labelledby="dropdownMenuButton">
          {% assign pages = site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% for page in pages %}
          <a class="dropdown-item" href="{{ page.url }}">{{ page.language }}</a>
          {% endfor %}
        </div>
      </div>
{% endif %}

      <ul class="navbar-nav ml-auto">
        {% for item in site.data.main_nav_tr.[page.lang].links %}
          <li class="nav-item {% if page.url == item.url | append: '/' %}current{% endif %}">
            {% if item.target == "_blank" %}
              <a class="nav-link" rel="noopener" target="{{ item.target }}" href="{{ item.url }}">{{ item.title }}</a>
            {% else %}
              <a class="nav-link" href="{{ site.url }}{{ item.url }}">{{ item.title }}</a>
            {% endif %}
          </li>
        {% endfor %}

        {% for item in site.data.main_nav_tr.[page.lang].mobile_links %}
          <li class="downloads-mobile nav-item {% if page.url == item.url | append: '/' %}current{% endif %}">
            {% if item.target == "_blank" %}
              <a class="nav-link" rel="noopener" target="{{ item.target }}" href="{{ item.url }}">{{ item.title }}</a>
            {% else %}
              <a class="nav-link" href="{{ site.url }}{{ item.url }}">{{ item.title }}</a>
            {% endif %}
          </li>
        {% endfor %}



{% assign item = site.data[page.lang].main_nav %}
          <li class="downloads-mobile nav-item {% if page.url == item.url %}current{% endif %}">
              <a class="nav-link" href="{{ site.url }}/{{ page.lang }}/downloads">{{ item.liDownloads }}</a>
          </li>

          <li class="downloads-desktop more-info-desktop nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ item.liLearnMore }}
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="navbarDropdown">
              <div class="dropdown-item btn-icon">
                <div class="float-right">
                  <a href="https://docs.bisq.network/" target='_blank'>{{ item.liDocumentation }}</a>
                </div>
              </div>

              <div class="dropdown-item btn-icon">
                <div class="float-right">
                  <a href="{{ site.url }}/blog/">{{ item.liBlog }}</a>
                </div>
              </div>

              <div class="dropdown-item btn-icon">
                <div class="float-right">
                  <a href="{{ site.url }}/{{ page.lang }}/community/">{{ item.liCommunity }}</a>
                </div>
              </div>
            </div>
          </li>


          <li class="downloads-desktop nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ item.buttonDownloads }}
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="navbarDropdown">
              {% include os_selector_options_tr.html %}
            </div>
          </li>

      </ul>
    </div>
</nav>
