<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top pl-md-5 pr-md-5 pl-sm-3 pr-0">

  <a class="navbar-brand" href="{% lingual_link home %}"><img src="/images/bisq-logo.svg" height="30" loading="lazy"/></a>

  <!-- Language selector for mobile -->

  {% if page.en-only == false %}
  <div class="dropdown mobile-language-selector more-info-desktop">
    <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ page.lang_display }}
    </button>
    <div class="dropdown-menu shadow-lg" aria-labelledby="dropdownMenuButton">
      {% assign pages = site.pages | where:"ref", page.ref | sort: 'lang_display' %}
      {% for page in pages %}
        <div class="dropdown-item btn-icon">
          <div class="float-right">
            <a href="{{ page.url }}">{{ page.lang_display }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <button class="navbar-toggler pr-3 pr-md-0 collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      {% assign mainNavLabels = site.data[page.lang].main_nav %}

      <!-- main links for desktop and mobile -->

      <li class="nav-item {% if page.url == '/getting-started/' %}current{% endif %}">
        <a class="nav-link" href="/getting-started">{{ mainNavLabels.gettingStarted }}</a>
      </li>
<!--      <li class="nav-item {% is_current_page dao %}">-->
<!--        <a class="nav-link" href="{% lingual_link dao %}">{{ mainNavLabels.bisqDAO }}</a>-->
<!--      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="/bisq-2">Bisq 2</a>
      </li>
      <li class="nav-item {% is_current_page faq %}">
        <a class="nav-link" target="_blank" href="https://bisq.wiki/Frequently_asked_questions">{{ mainNavLabels.faq }}<img class="external-link-symbol" src="/images/external-link-b.svg"></a>
      </li>

      <li class="downloads-desktop nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="downloadDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ mainNavLabels.downloads }}
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="downloadDropdown">
          {% include os_selector_options.html %}
        </div>
      </li>

      <!-- language selector for desktop -->

      {% if page.en-only == false %}
      <li class="downloads-desktop nav-item dropdown more-info-desktop language-selector">
        <a class="nav-link dropdown-toggle visible-language" href='#' id="languageSelectorDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ page.lang_display }}
        </a>
        <div class="dropdown-menu shadow-lg" aria-labelledby="languageSelectorDropdown">
          {% assign pages = site.pages | where:"ref", page.ref | sort: 'lang_display' %}
          {% for page in pages %}
          <div class="dropdown-item btn-icon">
            <div class="float-right">
              <a href="{{ page.url }}">{{ page.lang_display }}</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </li>
      {% endif %}

      <!-- search bar  -->

      <li class="nav-item search">
        <form class="form-inline" action="https://bisq.wiki/index.php" method="POST" target="_blank" rel="noopener noreferrer">
          <div class="input-group">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Wiki..." name="search">
            <button type="submit" class="btn btn-sm btn-outline-success nav-item"><img src="/images/search.svg"></button>
          </div>
        </form>
      </li>

      <li class="nav-item">
        <div class="mode-toggle nav-link"><img alt="mode toggle" src="/images/mode-toggle.svg" /></div>
      </li>

</ul>
  </div>
</nav>
