<option value="acm_btc">Actinium (ACM)</option>
<option value="ade_btc">Adeptio (ADE)</option>
<option value="aeon_btc">Aeon (AEON)</option>
<option value="btc_afn">Afghan Afghani (AFN)</option>
<option value="btc_all">Albanian Lek (ALL)</option>
<option value="btc_dzd">Algerian Dinar (DZD)</option>
<option value="amit_btc">Amitycoin (AMIT)</option>
<option value="btc_aoa">Angolan Kwanza (AOA)</option>
<option value="btc_ars">Argentine Peso (ARS)</option>
<option value="btc_amd">Armenian Dram (AMD)</option>
<option value="arq_btc">Arqma (ARQ)</option>
<option value="btc_awg">Aruban Florin (AWG)</option>
<option value="ask_btc">Askcoin (ASK)</option>
<option value="aeur_btc">Augmint Euro (AEUR)</option>
<option value="aus_btc">Australiacash (AUS)</option>
<option value="btc_aud">Australian Dollar (AUD)</option>
<option value="btc_azn">Azerbaijani Manat (AZN)</option>
<option value="btc_bsd">Bahamian Dollar (BSD)</option>
<option value="btc_bhd">Bahraini Dinar (BHD)</option>
<option value="btc_bdt">Bangladeshi Taka (BDT)</option>
<option value="btc_bbd">Barbadian Dollar (BBD)</option>
<option value="beam_btc">Beam (BEAM)</option>
<option value="btc_byn">Belarusian Ruble (BYN)</option>
<option value="btc_bzd">Belize Dollar (BZD)</option>
<option value="btc_bmd">Bermudan Dollar (BMD)</option>
<option value="btc_btn">Bhutanese Ngultrum (BTN)</option>
<option value="xrc_btc">Bitcoin Rhodium (XRC)</option>
<option value="darx_btc">BitDaric (DARX)</option>
<option value="btm_btc">Bitmark (BTM)</option>
<option value="bzc_btc">Bitzec (BZC)</option>
<option value="blur_btc">Blur (BLUR)</option>
<option value="btc_bob">Bolivian Boliviano (BOB)</option>
<option value="btc_bam">Bosnia-Herzegovina Convertible Mark (BAM)</option>
<option value="btc_bwp">Botswanan Pula (BWP)</option>
<option value="btc_brl">Brazilian Real (BRL)</option>
<option value="btc_gbp">British Pound (GBP)</option>
<option value="btc_bnd">Brunei Dollar (BND)</option>
<option value="bsq_btc">BSQ (BSQ)</option>
<option value="btc_bgn">Bulgarian Lev (BGN)</option>
<option value="btc_bif">Burundian Franc (BIF)</option>
<option value="gbyte_btc">Byte (GBYTE)</option>
<option value="btc_khr">Cambodian Riel (KHR)</option>
<option value="btc_cad">Canadian Dollar (CAD)</option>
<option value="btc_cve">Cape Verdean Escudo (CVE)</option>
<option value="cash2_btc">Cash2 (CASH2)</option>
<option value="btc_kyd">Cayman Islands Dollar (KYD)</option>
<option value="btc_xaf">Central African CFA Franc (XAF)</option>
<option value="btc_xpf">CFP Franc (XPF)</option>
<option value="cha_btc">Chaucha (CHA)</option>
<option value="btc_clp">Chilean Peso (CLP)</option>
<option value="btc_cny">Chinese Yuan (CNY)</option>
<option value="cloak_btc">CloakCoin (CLOAK)</option>
<option value="btc_cop">Colombian Peso (COP)</option>
<option value="btc_kmf">Comorian Franc (KMF)</option>
<option value="btc_cdf">Congolese Franc (CDF)</option>
<option value="btc_crc">Costa Rican Colón (CRC)</option>
<option value="xcp_btc">Counterparty (XCP)</option>
<option value="crds_btc">Credits (CRDS)</option>
<option value="croat_btc">Croat (CROAT)</option>
<option value="btc_hrk">Croatian Kuna (HRK)</option>
<option value="crcl_btc">CRowdCLassic (CRCL)</option>
<option value="btc_cup">Cuban Peso (CUP)</option>
<option value="btc_czk">Czech Republic Koruna (CZK)</option>
<option value="dai_btc">Dai Stablecoin (DAI)</option>
<option value="btc_dkk">Danish Krone (DKK)</option>
<option value="dash_btc">Dash (DASH)</option>
<option value="dcr_btc">Decred (DCR)</option>
<option value="onion_btc">DeepOnion (ONION)</option>
<option value="dxo_btc">Dextro (DXO)</option>
<option value="btc_djf">Djiboutian Franc (DJF)</option>
<option value="doge_btc">Dogecoin (DOGE)</option>
<option value="doi_btc">Doichain (DOI)</option>
<option value="btc_dop">Dominican Peso (DOP)</option>
<option value="drgl_btc">Dragonglass (DRGL)</option>
<option value="dst_btc">DSTRA (DST)</option>
<option value="btc_xcd">East Caribbean Dollar (XCD)</option>
<option value="btc_egp">Egyptian Pound (EGP)</option>
<option value="btc_ern">Eritrean Nakfa (ERN)</option>
<option value="eth_btc">Ether (ETH)</option>
<option value="etc_btc">Ether Classic (ETC)</option>
<option value="eths_btc">EtherStone (ETHS)</option>
<option value="btc_etb">Ethiopian Birr (ETB)</option>
<option value="btc_eur">Euro (EUR)</option>
<option value="btc_fkp">Falkland Islands Pound (FKP)</option>
<option value="btc_fjd">Fijian Dollar (FJD)</option>
<option value="frty_btc">FourtyTwo (FRTY)</option>
<option value="fjc_btc">Fujicoin (FJC)</option>
<option value="gali_btc">Galilel (GALI)</option>
<option value="btc_gmd">Gambian Dalasi (GMD)</option>
<option value="gmcn_btc">GambleCoin (GMCN)</option>
<option value="btc_gel">Georgian Lari (GEL)</option>
<option value="btc_ghs">Ghanaian Cedi (GHS)</option>
<option value="btc_gip">Gibraltar Pound (GIP)</option>
<option value="grin_btc">Grin (GRIN)</option>
<option value="btc_gtq">Guatemalan Quetzal (GTQ)</option>
<option value="btc_gnf">Guinean Franc (GNF)</option>
<option value="btc_gyd">Guyanaese Dollar (GYD)</option>
<option value="btc_htg">Haitian Gourde (HTG)</option>
<option value="hatch_btc">Hatch (HATCH)</option>
<option value="hlm_btc">Helium (HLM)</option>
<option value="btc_hnl">Honduran Lempira (HNL)</option>
<option value="btc_hkd">Hong Kong Dollar (HKD)</option>
<option value="zen_btc">Horizen (ZEN)</option>
<option value="btc_huf">Hungarian Forint (HUF)</option>
<option value="btc_isk">Icelandic Króna (ISK)</option>
<option value="ida_btc">IdaPay (IDA)</option>
<option value="btc_inr">Indian Rupee (INR)</option>
<option value="btc_idr">Indonesian Rupiah (IDR)</option>
<option value="btc_irr">Iranian Rial (IRR)</option>
<option value="btc_iqd">Iraqi Dinar (IQD)</option>
<option value="ird_btc">Iridium (IRD)</option>
<option value="btc_ils">Israeli New Sheqel (ILS)</option>
<option value="btc_jmd">Jamaican Dollar (JMD)</option>
<option value="btc_jpy">Japanese Yen (JPY)</option>
<option value="btc_jod">Jordanian Dinar (JOD)</option>
<option value="btc_kzt">Kazakhstani Tenge (KZT)</option>
<option value="kek_btc">Kekcoin (KEK)</option>
<option value="btc_kes">Kenyan Shilling (KES)</option>
<option value="btc_kwd">Kuwaiti Dinar (KWD)</option>
<option value="btc_kgs">Kyrgystani Som (KGS)</option>
<option value="btc_lak">Laotian Kip (LAK)</option>
<option value="btc_lbp">Lebanese Pound (LBP)</option>
<option value="btc_lsl">Lesotho Loti (LSL)</option>
<option value="btc_lrd">Liberian Dollar (LRD)</option>
<option value="btc_lyd">Libyan Dinar (LYD)</option>
<option value="ltc_btc">Litecoin (LTC)</option>
<option value="lcp_btc">LitecoinPlus (LCP)</option>
<option value="ltz_btc">LitecoinZ (LTZ)</option>
<option value="lytx_btc">Lytix (LYTX)</option>
<option value="btc_mop">Macanese Pataca (MOP)</option>
<option value="btc_mkd">Macedonian Denar (MKD)</option>
<option value="btc_mga">Malagasy Ariary (MGA)</option>
<option value="btc_mwk">Malawian Kwacha (MWK)</option>
<option value="btc_myr">Malaysian Ringgit (MYR)</option>
<option value="btc_mvr">Maldivian Rufiyaa (MVR)</option>
<option value="mask_btc">Mask (MASK)</option>
<option value="btc_mro">Mauritanian Ouguiya (MRO)</option>
<option value="btc_mur">Mauritian Rupee (MUR)</option>
<option value="btc_mxn">Mexican Peso (MXN)</option>
<option value="mile_btc">Mile (MILE)</option>
<option value="mqx_btc">MirQuiX (MQX)</option>
<option value="mbgl_btc">MobitGlobal (MBGL)</option>
<option value="btc_mdl">Moldovan Leu (MDL)</option>
<option value="xmr_btc">Monero (XMR)</option>
<option value="mue_btc">MonetaryUnit (MUE)</option>
<option value="btc_mnt">Mongolian Tugrik (MNT)</option>
<option value="btc_mad">Moroccan Dirham (MAD)</option>
<option value="mox_btc">MoX (MOX)</option>
<option value="btc_mzn">Mozambican Metical (MZN)</option>
<option value="btc_mmk">Myanmar Kyat (MMK)</option>
<option value="nmc_btc">Namecoin (NMC)</option>
<option value="btc_nad">Namibian Dollar (NAD)</option>
<option value="nav_btc">Navcoin (NAV)</option>
<option value="neos_btc">Neos (NEOS)</option>
<option value="btc_npr">Nepalese Rupee (NPR)</option>
<option value="btc_ang">Netherlands Antillean Guilder (ANG)</option>
<option value="btc_twd">New Taiwan Dollar (TWD)</option>
<option value="btc_nzd">New Zealand Dollar (NZD)</option>
<option value="btc_nio">Nicaraguan Córdoba (NIO)</option>
<option value="btc_ngn">Nigerian Naira (NGN)</option>
<option value="nor_btc">Noir (NOR)</option>
<option value="btc_kpw">North Korean Won (KPW)</option>
<option value="btc_nok">Norwegian Krone (NOK)</option>
<option value="btc_omr">Omani Rial (OMR)</option>
<option value="btc_pkr">Pakistani Rupee (PKR)</option>
<option value="btc_pab">Panamanian Balboa (PAB)</option>
<option value="btc_pgk">Papua New Guinean Kina (PGK)</option>
<option value="btc_pyg">Paraguayan Guarani (PYG)</option>
<option value="pars_btc">ParsiCoin (PARS)</option>
<option value="prsn_btc">Persona (PRSN)</option>
<option value="btc_pen">Peruvian Nuevo Sol (PEN)</option>
<option value="btc_php">Philippine Peso (PHP)</option>
<option value="pink_btc">Pinkcoin (PINK)</option>
<option value="pivx_btc">PIVX (PIVX)</option>
<option value="ple_btc">Plenteum (PLE)</option>
<option value="btc_pln">Polish Zloty (PLN)</option>
<option value="pzdc_btc">PZDC (PZDC)</option>
<option value="btc_qar">Qatari Rial (QAR)</option>
<option value="qbs_btc">Qbase (QBS)</option>
<option value="qmcoin_btc">QMCoin (QMCoin)</option>
<option value="qwc_btc">Qwertycoin (QWC)</option>
<option value="rads_btc">Radium (RADS)</option>
<option value="rmx_btc">Remix (RMX)</option>
<option value="btc_ron">Romanian Leu (RON)</option>
<option value="btc_rub">Russian Ruble (RUB)</option>
<option value="btc_rwf">Rwandan Franc (RWF)</option>
<option value="ryo_btc">Ryo (RYO)</option>
<option value="btc_svc">Salvadoran Colón (SVC)</option>
<option value="btc_wst">Samoan Tala (WST)</option>
<option value="btc_sar">Saudi Riyal (SAR)</option>
<option value="btc_rsd">Serbian Dinar (RSD)</option>
<option value="btc_scr">Seychellois Rupee (SCR)</option>
<option value="sf_btc">Siafund (SF)</option>
<option value="scp_btc">SiaPrimeCoin (SCP)</option>
<option value="btc_sll">Sierra Leonean Leone (SLL)</option>
<option value="btc_sgd">Singapore Dollar (SGD)</option>
<option value="btc_sbd">Solomon Islands Dollar (SBD)</option>
<option value="btc_sos">Somali Shilling (SOS)</option>
<option value="btc_zar">South African Rand (ZAR)</option>
<option value="btc_krw">South Korean Won (KRW)</option>
<option value="btc_ssp">South Sudanese Pound (SSP)</option>
<option value="space_btc">SpaceCash (SPACE)</option>
<option value="xspec_btc">Spectrecoin (XSPEC)</option>
<option value="btc_lkr">Sri Lankan Rupee (LKR)</option>
<option value="btc_shp">St. Helena Pound (SHP)</option>
<option value="mai_btc">Starwels (MAI)</option>
<option value="sub1x_btc">SUB1X (SUB1X)</option>
<option value="btc_sdg">Sudanese Pound (SDG)</option>
<option value="btc_srd">Surinamese Dollar (SRD)</option>
<option value="btc_szl">Swazi Lilangeni (SZL)</option>
<option value="btc_sek">Swedish Krona (SEK)</option>
<option value="btc_chf">Swiss Franc (CHF)</option>
<option value="btc_syp">Syrian Pound (SYP)</option>
<option value="btc_stn">São Tomé and Príncipe Dobra (STN)</option>
<option value="btc_tjs">Tajikistani Somoni (TJS)</option>
<option value="btc_tzs">Tanzanian Shilling (TZS)</option>
<option value="btc_thb">Thai Baht (THB)</option>
<option value="btc_top">Tongan Paʻanga (TOP)</option>
<option value="btc_ttd">Trinidad & Tobago Dollar (TTD)</option>
<option value="tusd_btc">TrueUSD (TUSD)</option>
<option value="teo_btc">Trust Ether reOrigin (TEO)</option>
<option value="btc_tnd">Tunisian Dinar (TND)</option>
<option value="btc_try">Turkish Lira (TRY)</option>
<option value="btc_tmt">Turkmenistani Manat (TMT)</option>
<option value="trtl_btc">TurtleCoin (TRTL)</option>
<option value="btc_ugx">Ugandan Shilling (UGX)</option>
<option value="btc_uah">Ukrainian Hryvnia (UAH)</option>
<option value="btc_aed">United Arab Emirates Dirham (AED)</option>
<option value="ucc_btc">UnitedCommunityCoin (UCC)</option>
<option value="uno_btc">Unobtanium (UNO)</option>
<option value="btc_uyu">Uruguayan Peso (UYU)</option>
<option value="btc_usd">US Dollar (USD)</option>
<option value="usdc_btc">USD Coin (USDC)</option>
<option value="btc_uzs">Uzbekistani Som (UZS)</option>
<option value="btc_vuv">Vanuatu Vatu (VUV)</option>
<option value="vxv_btc">VectorspaceAI (VXV)</option>
<option value="veil_btc">Veil (VEIL)</option>
<option value="btc_vef">Venezuelan Bolívar (VEF)</option>
<option value="btc_vnd">Vietnamese Dong (VND)</option>
<option value="web_btc">Webchain (WEB)</option>
<option value="btc_xof">West African CFA Franc (XOF)</option>
<option value="wrkz_btc">WrkzCoin (WRKZ)</option>
<option value="xdr0_btc">XDR (XDR0)</option>
<option value="btc_yer">Yemeni Rial (YER)</option>
<option value="btc_zmw">Zambian Kwacha (ZMW)</option>
<option value="zec_btc">Zcash (ZEC)</option>
<option value="xzc_btc">Zcoin (XZC)</option>
<option value="zel_btc">ZelCash (ZEL)</option>
<option value="zer_btc">Zero (ZER)</option>
<option value="btc_zwl">Zimbabwean Dollar (2009) (ZWL)</option>
