<option value="btc_ars">Argentine Peso (ARS)</option>
<option value="btc_aud">Australian Dollar (AUD)</option>
<option value="btc_brl">Brazilian Real (BRL)</option>
<option value="btc_gbp">British Pound (GBP)</option>
<option value="bsq_btc">BSQ (BSQ)</option>
<option value="btc_cad">Canadian Dollar (CAD)</option>
<option value="btc_clp">Chilean Peso (CLP)</option>
<option value="btc_cny">Chinese Yuan (CNY)</option>
<option value="btc_czk">Czech Koruna (CZK)</option>
<option value="dai_btc">Dai Stablecoin (DAI)</option>
<option value="btc_dkk">Danish Krone (DKK)</option>
<option value="dash_btc">Dash (DASH)</option>
<option value="dcr_btc">Decred (DCR)</option>
<option value="doi_btc">Doichain (DOI)</option>
<option value="etc_btc">Ether Classic (ETC)</option>
<option value="eth_btc">Ether (ETH)</option>
<option value="btc_eur">Euro (EUR)</option>
<option value="fair_btc">Faircoin (FAIR)</option>
<option value="btc_hkd">Hong Kong Dollar (HKD)</option>
<option value="btc_huf">Hungarian Forint (HUF)</option>
<option value="btc_jpy">Japanese Yen (JPY)</option>
<option value="lbc_btc">LBRY Credits (LBC)</option>
<option value="l-btc_btc">Liquid Bitcoin (L-BTC)</option>
<option value="ltc_btc">Litecoin (LTC)</option>
<option value="btc_myr">Malaysian Ringgit (MYR)</option>
<option value="btc_mxn">Mexican Peso (MXN)</option>
<option value="xmr_btc">Monero (XMR)</option>
<option value="nmc_btc">Namecoin (NMC)</option>
<option value="nav_btc">Navcoin (NAV)</option>
<option value="btc_nzd">New Zealand Dollar (NZD)</option>
<option value="part_btc">Particl (PART)</option>
<option value="btc_php">Philippine Piso (PHP)</option>
<option value="btc_pln">Polish Zloty (PLN)</option>
<option value="btc_ron">Romanian Leu (RON)</option>
<option value="btc_rub">Russian Ruble (RUB)</option>
<option value="btc_rsd">Serbian Dinar (RSD)</option>
<option value="sf_btc">Siafund (SF)</option>
<option value="btc_sgd">Singapore Dollar (SGD)</option>
<option value="sil_btc">SixEleven (SIL)</option>
<option value="btc_zar">South African Rand (ZAR)</option>
<option value="btc_sek">Swedish Krona (SEK)</option>
<option value="btc_chf">Swiss Franc (CHF)</option>
<option value="btc_thb">Thai Baht (THB)</option>
<option value="btc_try">Turkish Lira (TRY)</option>
<option value="uno_btc">Unobtanium (UNO)</option>
<option value="btc_usd">US Dollar (USD)</option>
<option value="usdc_btc">USD Coin (USDC)</option>
<option value="btc_vuv">Vanuatu Vatu (VUV)</option>
<option value="veil_btc">Veil (VEIL)</option>
<option value="vtc_btc">Vertcoin (VTC)</option>
<option value="btc_vnd">Vietnamese Dong (VND)</option>
<option value="zec_btc">Zcash (ZEC)</option>
