
<div class="dropdown-item btn-icon">
  <img src="/images/icon-apple-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-apple-w.svg" class="os-icon os-icon-w" /> Download for Mac
  <div class="float-right">
    <a href="#" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download v0.6.7');">.dmg</a>
  </div>
</div>


<div class="dropdown-item btn-icon">
  <img src="/images/icon-windows-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-windows-w.svg" class="os-icon os-icon-w" /> Download for Windows
  <div class="float-right">
    <a href="#" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download v0.6.7');">32 Bit</a> |
    <a href="#" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download v0.6.7');">64 Bit</a>
  </div>
</div>


<div class="dropdown-item btn-icon">
  <img src="/images/icon-ubuntu-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-ubuntu-w.svg" class="os-icon os-icon-w" /> Download for Debian/Ubuntu
  <div class="float-right">
    <a href="#" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download v0.6.7');">32 Bit</a> |
    <a href="#" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download v0.6.7');">64 Bit</a>
  </div>
</div>


<div class="dropdown-item btn-icon">
  <img src="/images/icon-linux-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-linux-w.svg" class="os-icon os-icon-w" /> Download for Arch Linux
  <div class="float-right">
    <a href="#" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download v0.6.7');">Arch User Repository</a></div>
</div>

<div class="dropdown-item btn-icon">
  <img src="/images/icon-opensource-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-opensource-w.svg" class="os-icon os-icon-w" /> Source Code
  <div class="float-right">
    <a href="#" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download v0.6.7');">zip</a> |
    <a href="#" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download v0.6.7');">tar.gz</a></div>
</div>

<div class="dropdown-item btn-icon">
  <img src="/images/icon-notes-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-notes-w.svg" class="os-icon os-icon-w" /> Release Notes
  <div class="float-right">
    <a href="#" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download v0.6.7');">v0.6.7</a>
  </div>
</div>

<div class="dropdown-item btn-icon">
  <img src="/images/icon-verification-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-verification-w.svg" class="os-icon os-icon-w" /> Verification
  <div class="float-right">
    <a href="#" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download v0.6.7');">PGP signatures</a> |
    <a href="#" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download v0.6.7');">PGP Public Key</a></div>
</div>