<div class="dropdown-item btn-icon">
  <img src="/images/icon-download-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-download-w.svg" class="os-icon os-icon-w" />{% t os_selector_options.liAllDownloads %}
  <div class="float-right">
    {% if site.lang == "en" %}<a href="/downloads/">{% else %}<a href="/{{ site.lang }}/downloads/">{% endif %}{% t os_selector_options.liAllDownloadsText %}</a>
  </div>
</div>

<div class="dropdown-item btn-icon">
  <img src="/images/icon-windows-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-windows-w.svg" class="os-icon os-icon-w" /> {% t os_selector_options.liWindows %}
  <div class="float-right">
    <a class="dl-win64" href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.exe">.exe</a>
  </div>
</div>


<div class="dropdown-item btn-icon">
  <img src="/images/icon-apple-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-apple-w.svg" class="os-icon os-icon-w" /> {% t os_selector_options.liMac %}
  <div class="float-right">
    <a class="dl-mac" href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-{{ site.client_version }}.dmg">.dmg</a>
  </div>
</div>


<div class="dropdown-item btn-icon">
  <img src="/images/icon-ubuntu-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-ubuntu-w.svg" class="os-icon os-icon-w" /> {% t os_selector_options.liDebian %}
  <div class="float-right">
    <a class="dl-deb64" href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.deb">.deb</a>
  </div>
</div>


<div class="dropdown-item btn-icon">
  <img src="/images/icon-fedora-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-fedora-w.svg" class="os-icon os-icon-w" /> {% t os_selector_options.liRedHat %}
  <div class="float-right">
    <a class="dl-rpm64" href="https://github.com/bisq-network/bisq/releases/download/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.rpm">.rpm</a>
  </div>
</div>


<div class="dropdown-item btn-icon">
  <img src="/images/icon-arch-linux-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-arch-linux-w.svg" class="os-icon os-icon-w" /> {% t os_selector_options.liArch %}
  <div class="float-right">
    <a href="https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=bisq-git">{% t os_selector_options.liArchText %}</a></div>
</div>

<div class="dropdown-item btn-icon">
  <img src="/images/icon-opensource-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-opensource-w.svg" class="os-icon os-icon-w" /> {% t os_selector_options.liSourceCode %}
  <div class="float-right">
    <a href="https://bisq.network/downloads/archive/v{{ site.client_version }}.zip">zip</a> |
    <a href="https://bisq.network/downloads/archive/v{{ site.client_version }}.tar.gz">tar.gz</a></div>
</div>

<div class="dropdown-item btn-icon">
  <img src="/images/icon-notes-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-notes-w.svg" class="os-icon os-icon-w" /> {% t os_selector_options.liReleaseNotes %}
  <div class="float-right">
    <a href="https://bisq.network/downloads/v{{ site.client_version }}">v{{ site.client_version }}</a>
  </div>
</div>

<div class="dropdown-item btn-icon">
  <img src="/images/icon-verification-g.svg" class="os-icon os-icon-g" />
  <img src="/images/icon-verification-w.svg" class="os-icon os-icon-w" /> {% t os_selector_options.liVerification %}
  <div class="float-right">
    <a href="https://bisq.network/downloads/v{{ site.client_version }}">{% t os_selector_options.liVerificationText1 %}</a> |
    <a href="https://bisq.network/downloads/v{{ site.client_version }}/29CDFD3B.asc">{% t os_selector_options.liVerificationText2 %}</a></div>
</div>
