<div class="dropdown-item btn-icon">
  <img src="/images/icon-download-g.svg" class="os-icon os-icon-g" alt="Download Bisq" loading="lazy" />
  <img src="/images/icon-download-w.svg" class="os-icon os-icon-w" alt="Download Bisq" loading="lazy" />All Downloads
  <div class="float-right">
    <a href="/downloads/" title="Downloads">Go to Downloads Page</a>
  </div>
</div>

<div class="dropdown-item btn-icon">
  <img src="/images/icon-windows-g.svg" class="os-icon os-icon-g" alt="Download Bisq for Windows" loading="lazy" />
  <img src="/images/icon-windows-w.svg" class="os-icon os-icon-w" alt="Download Bisq for Windows" loading="lazy" /> Download for Windows
  <div class="float-right">
    <a class="dl-win64" title="Download Bisq for Windows" href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.exe">.exe</a>
  </div>
</div>


<div class="dropdown-item btn-icon">
  <img src="/images/icon-apple-g.svg" class="os-icon os-icon-g" alt="Download Bisq for Mac" loading="lazy" />
  <img src="/images/icon-apple-w.svg" class="os-icon os-icon-w" alt="Download Bisq for Mac" loading="lazy" />
                                       Download for Mac
  <div class="float-right">
    <a class="dl-mac" title="Download Bisq for Mac" href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-{{ site.client_version }}.dmg">.dmg</a>
  </div>
</div>


<div class="dropdown-item btn-icon">
  <img src="/images/icon-ubuntu-g.svg" class="os-icon os-icon-g" alt="Download Bisq for Ubuntu/Debian" loading="lazy" />
  <img src="/images/icon-ubuntu-w.svg" class="os-icon os-icon-w" alt="Download Bisq for Ubuntu/Debian" loading="lazy" /> 
  Download for Debian/Ubuntu
  <div class="float-right">
    <a class="dl-deb64" title="Download Bisq for Ubuntu/Debian" href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.deb">.deb</a>
  </div>
</div>


<div class="dropdown-item btn-icon">
  <img src="/images/icon-fedora-g.svg" class="os-icon os-icon-g" alt="Download Bisq for Red Hat/Fedora" loading="lazy" />
  <img src="/images/icon-fedora-w.svg" class="os-icon os-icon-w" alt="Download Bisq for Red Hat/Fedora" loading="lazy" /> 
  Download for Red Hat/Fedora
  <div class="float-right">
    <a class="dl-rpm64" title="Download Bisq for Red Hat/Fedora" href="https://github.com/bisq-network/bisq/releases/download/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.rpm">.rpm</a>
  </div>
</div>


<div class="dropdown-item btn-icon">
  <img src="/images/icon-arch-linux-g.svg" class="os-icon os-icon-g" alt="Download Bisq for Arch Linux" loading="lazy" />
  <img src="/images/icon-arch-linux-w.svg" class="os-icon os-icon-w" alt="Download Bisq for Arch Linux" loading="lazy" /> 
  Download for Arch Linux
  <div class="float-right">
    <a href="https://aur.archlinux.org/packages/bisq/" title="Download Bisq for Arch Linux">Arch User Repo</a></div>
</div>

<div class="dropdown-item btn-icon">
  <img src="/images/icon-opensource-g.svg" class="os-icon os-icon-g" alt="Source Code" loading="lazy" />
  <img src="/images/icon-opensource-w.svg" class="os-icon os-icon-w" alt="Source Code" loading="lazy" /> 
  Source Code
  <div class="float-right">
    <a href="https://bisq.network/downloads/archive/v{{ site.client_version }}.zip" title="Download Bisq Source Code">zip</a> |
    <a href="https://bisq.network/downloads/archive/v{{ site.client_version }}.tar.gz" title="Download Bisq Source Code">tar.gz</a></div>
</div>

<div class="dropdown-item btn-icon">
  <img src="/images/icon-notes-g.svg" class="os-icon os-icon-g" alt="Release Notes" loading="lazy" />
  <img src="/images/icon-notes-w.svg" class="os-icon os-icon-w" alt="Release Notes" loading="lazy" /> 
  Release Notes
  <div class="float-right">
    <a href="https://bisq.network/downloads/v{{ site.client_version }}" title="See Bisq Release Notes">v{{ site.client_version }}</a>
  </div>
</div>

<div class="dropdown-item btn-icon">
  <img src="/images/icon-verification-g.svg" class="os-icon os-icon-g" alt="Verification" loading="lazy" />
  <img src="/images/icon-verification-w.svg" class="os-icon os-icon-w" alt="Verification" loading="lazy" /> 
  Verification
  <div class="float-right">
    <a href="https://bisq.network/downloads/v{{ site.client_version }}" title="Verify PGP Signatures">PGP signatures</a> |
    <a href="https://bisq.network/downloads/v{{ site.client_version }}/29CDFD3B.asc" title="Verify PGP Signatures">PGP Public Key</a></div>
</div>
