
<div class='plain-stat-container'>
    <p class='stat-label'>{{item.pTotalTrades}}</p>
    <p class='stat-figure'>52,070</p>
    <p class='stat-note'>{{item.pTotalDate}}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{{item.pDailyAverageTrade}}</p>
    <p class='stat-figure'>100</p>
    <p class='stat-note'>{{item.pTotalDate}}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{{item.pSoftwareDownloads}}</p>
    <p class='stat-figure'>13,093</p> <!--2572+2784+7473+264=13,093-->
    <p class='stat-note'>{{item.pSoftwareDownloadsVersion}}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{{item.pGithubContributors}}</p>
    <p class='stat-figure'>210</p>
    <p class='stat-note'>{{item.pToDate}}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{{item.pTwitterFollowers}}</p>
    <p class='stat-figure'>20,398</p>
    <p class='stat-note'>{{item.pToDate}}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{{item.pKeybaseUsers}}</p>
    <p class='stat-figure'>790</p>
    <p class='stat-note'>{{item.pToDate}}</p>
</div>
