
<div class='plain-stat-container'>
    <p class='stat-label'>{% t stats.pTotalTrades %}</p>
    <p class='stat-figure'>39,985</p>
    <p class='stat-note'>{% t stats.pTotalDate %}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{% t stats.pDailyAverageTrade %}</p>
    <p class='stat-figure'>81</p>
    <p class='stat-note'>{% t stats.pTotalDate %}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{% t stats.pSoftwareDownloads %}</p>
    <p class='stat-figure'>14,381</p> <!--2740+2616+8101+924=14381-->
    <p class='stat-note'>{% t stats.pSoftwareDownloadsVersion %}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{% t stats.pGithubContributors %}</p>
    <p class='stat-figure'>194</p>
    <p class='stat-note'>{% t stats.pToDate %}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{% t stats.pTwitterFollowers %}</p>
    <p class='stat-figure'>18,686</p>
    <p class='stat-note'>{% t stats.pToDate %}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{% t stats.pSlackUsers %}</p>
    <p class='stat-figure'>1,370</p>
    <p class='stat-note'>{% t stats.pToDate %}</p>
</div>
