
<div class='plain-stat-container'>
    <p class='stat-label'>{{item.pTotalTrades}}</p>
    <p class='stat-figure'>47,435</p>
    <p class='stat-note'>{{item.pTotalDate}}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{{item.pDailyAverageTrade}}</p>
    <p class='stat-figure'>73</p>
    <p class='stat-note'>{{item.pTotalDate}}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{{item.pSoftwareDownloads}}</p>
    <p class='stat-figure'>12,836</p> <!--2438+2802+6769+827=12,836-->
    <p class='stat-note'>{{item.pSoftwareDownloadsVersion}}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{{item.pGithubContributors}}</p>
    <p class='stat-figure'>209</p>
    <p class='stat-note'>{{item.pToDate}}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{{item.pTwitterFollowers}}</p>
    <p class='stat-figure'>19,670</p>
    <p class='stat-note'>{{item.pToDate}}</p>
</div>

<div class='plain-stat-container'>
    <p class='stat-label'>{{item.pKeybaseUsers}}</p>
    <p class='stat-figure'>654</p>
    <p class='stat-note'>{{item.pToDate}}</p>
</div>
