<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <title>{{ page.title }}</title>

  <link rel="canonical" href="{{ site.url }}" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} blog feed" href="{{ site.url }}/{{ site.feed.path }}" />

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen"/>

  <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
  <link rel='stylesheet' id='opensans-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C300%2C600%2C700&#038;ver=4.7.5' type='text/css' media='all'/>

  <script type='text/javascript' src='/js/jquery.js?ver=1.12.4'></script>
  <script type='text/javascript' src='/js/jquery-migrate.min.js?ver=1.4.1'></script>
  <script type='text/javascript' src='/js/superfish.js?ver=4.7.5'></script>
  <script type='text/javascript' src='/js/jquery.formalize.min.js?ver=4.7.5'></script>
  <script type='text/javascript' src='/js/tinynav.js?ver=4.7.5'></script>
  <script type='text/javascript' src='/js/pinzolo.js?ver=4.7.5'></script>
</head>

<body class="home page-template-default page page-id-6 custom-background">

<div id="wrapper_border" class="center" style="margin-top: 50px;">
  <div id="wrapper_bg" class="center">
    <div id="navwrap">
      <div id="navwrap2">
        <nav>
          <ul id="menuUl" class="menu">
            <li class="tnskip">&nbsp;</li><li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-40"><a href="/">Home</a></li>
            <li id="menu-item-1427" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1427"><a href="https://markets.bisq.network/">Markets</a></li>
            <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="/philosophy/">Philosophy</a></li>
            <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="/community/">Community</a></li>
            <li id="menu-item-468" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-468"><a href="/faq/">FAQ</a></li>
            <li id="menu-item-597" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-597"><a href="/blog/">Blog</a></li>
            <li id="menu-item-1271" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1271"><a href="https://forum.bisq.io/">Forum</a></li>
            <li id="menu-item-1602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1602"><a href="/downloads/">Downloads</a></li>
            <li class="tnskip">&nbsp;</li><li class="tnskip filler"></li>
          </ul>
        </nav>
      </div>
    </div>

    {% if page.banner != null %}
    <header>
      <img class="size-full" src="{{ page.banner }}" alt=""/>
    </header>
    {% endif %}

    {% if page.url == '/' %}
    <div id="homeboxes">
      <div class="homebox"><a href="https://vimeo.com/getbitsquare">
        <img src="/images/videos_button.png" alt="Videos"/></a>
      </div>
      <div class="homebox">
        <a href="/downloads/"><img src="/images/download_button.png" alt="Download"/></a>
      </div>
      <div class="homebox"><a href="https://github.com/bisq-network/exchange">
        <img src="/images/source_button.png" alt="Source"/></a>
      </div>
      <div class="homebox"><a href="/docs/exchange/whitepaper">
        <img src="/images/whitepaper_button.png" alt="Whitepaper"/></a>
      </div>
    </div>
    {% endif %}

    <div id="main" class="center">
      {{ content }}
    </div>

    <footer class="center copy">

      <nav class="nav-footer">
        <ul id="menuUIfooter" class="menu">
          <li class="tnskip" >&nbsp;</li><li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42"><a href="/press/">Press</a></li>
          <li id="menu-item-453" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-453"><a href="/roadmap/">Roadmap</a></li>
          <li id="menu-item-1601" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1601"><a href="/contribute/">Contribute</a></li>
          <li id="menu-item-451" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-451"><a href="/dao/">DAO</a></li>
          <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44"><a href="/contact/">Contact</a></li>
          <li class="tnskip">&nbsp;</li><li class="tnskip filler"></li>
        </ul>
      </nav>

      <br/>

      <p>&copy; {{ site.time | date: '%Y' }} Bisq</p>

    </footer>

  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104074395-1', 'auto');
  {% if page.url == '/404.html' %}
  ga('send', 'pageview', '/404error/?url=' + document.location.pathname + document.location.search + '&ref=' + document.referrer );
  {% else %}
  ga('send', 'pageview');
  {% endif %}
</script>
</body>
</html>
