---
layout: page
---

<link href="{{ '/css/chosen.css' | relative_url }}" rel="stylesheet">

<script defer src="/js/highstock.js"></script>
<script defer src="/js/stats.js"></script>

{% assign item = site.data[page.lang].stats %}

<h1>{{ item.hNetworkStats }}</h1>

<div class='chart-stat-container'>
    <div class='stat-chart' id="fiat-volume-container"></div>
    {{  item.pSeeMarkets }}
</div>

<div class='chart-stat-container'>
    <div class='stat-chart' id="altcoin-volume-container"></div>
    {{  item.pSeeMarkets }}
</div>

<div class='chart-stat-container'>
    <div class='stat-chart' id="bsq-container"></div>
    <p>{{ item.pBSQDistribution }}</p>
</div>



<div class='plain-stat-container'>
  <p class='stat-label'>{{item.pTotalTrades}}</p>
  <p class='stat-figure'>59,165</p>
  <p class='stat-note'>{{item.pTotalDate}}</p>
</div>

<div class='plain-stat-container'>
  <p class='stat-label'>{{item.pDailyAverageTrade}}</p>
  <p class='stat-figure'>95</p>
  <p class='stat-note'>{{item.pTotalDate}}</p>
</div>

<div class='plain-stat-container'>
  <p class='stat-label'>{{item.pSoftwareDownloads}}</p>
  <p class='stat-figure'>11,788</p> <!--2580+2479+6523+206=11788-->
  <p class='stat-note'>{{item.pSoftwareDownloadsVersion}}</p>
</div>

<div class='plain-stat-container'>
  <p class='stat-label'>{{item.pGithubContributors}}</p>
  <p class='stat-figure'>211</p>
  <p class='stat-note'>{{item.pToDate}}</p>
</div>

<div class='plain-stat-container'>
  <p class='stat-label'>{{item.pTwitterFollowers}}</p>
  <p class='stat-figure'>20,838</p>
  <p class='stat-note'>{{item.pToDate}}</p>
</div>

<div class='plain-stat-container'>
  <p class='stat-label'>{{item.pKeybaseUsers}}</p>
  <p class='stat-figure'>955</p>
  <p class='stat-note'>{{item.pToDate}}</p>
</div>


<br>
{{ item.pNetworkLoad }}
