---
layout: page
---

<script defer src="/js/faq.js"></script>

{% assign item = site.data[page.lang].faq %}
<div itemscope itemtype="https://schema.org/FAQPage">
  <h1>{{ item.hFAQ }}</h1>
  <h4 class="mt-5 pb-3">{{ item.hCoreFunctions }}</h4>
  <div class="accordion border-bottom mb-5">
    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="safe-open-source" itemprop="name">{{ item.hSafeOpenSource }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pSafeOpenSource }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="how-bisq-different" itemprop="name">{{ item.hDifferent }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pDifferent }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="supported-payment-methods" itemprop="name">{{ item.hPaymentMethods }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.ulPaymentMethods }}
        </div>
      </div>
    </div>
  </div>

  <h4 class="pt-5 mt-5 pb-3">{{ item.hTradingDetails }}</h4>
  <div class="accordion border-bottom mb-5">

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="trade-limits" itemprop="name">{{ item.hTradeLimits }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pTradeLimits }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="why-security-deposit" itemprop="name">{{ item.hSecurityDeposit }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pSecurityDeposit }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="how-privacy-protected" itemprop="name">{{ item.hPrivacy }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pPrivacy }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="trade-periods" itemprop="name">{{ item.hTradeDuration }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pTradeDuration }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="cost-to-trade" itemprop="name">{{ item.hTradeCost }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pTradeCost }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="why-keep-bisq-online" itemprop="name">{{ item.hOpenOffer }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pOpenOffer }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="edit-offer" itemprop="name">{{ item.hEditOffer }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pEditOffer }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="will-bank-know" itemprop="name">{{ item.hBank }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pBank }}
        </div>
      </div>
    </div>
  </div>


  <h4 class="pt-5 mt-5 pb-3">{{ item.hDisputeRsolution }}</h4>
  <div class="accordion border-bottom mb-5">

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="how-arbitration-works" itemprop="name">{{ item.hArbitrationProcess }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pArbitrationProcess }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="preventing-arbitrator-collusion" itemprop="name">{{ item.hCollusion }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pCollusion }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="chargeback-details" itemprop="name">{{ item.hChargeback }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pChargeback }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="arbitration-alternatives" itemprop="name">{{ item.hReputationSystem }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pReputationSystem }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="become-arbitrator" itemprop="name">{{ item.hBeArbitrator }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pBeArbitrator }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="contact-trading-peer" itemprop="name">{{ item.hContactPeer }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pContactPeer }}
        </div>
      </div>
    </div>
  </div>

  <h4 class="pt-5 mt-5 pb-3">{{ item.hBisqDAO }}</h4>
  <div class="accordion border-bottom mb-5">

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="about-dao" itemprop="name">{{ item.hBisqDaoWhat }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pBisqDaoWhat }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="how-dao-works" itemprop="name">{{ item.hBisqDaoHow }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pBisqDaoHow }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="dao-for-traders" itemprop="name">{{ item.hNeedToKnow }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pNeedToKnow }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="without-bsq" itemprop="name">{{ item.hUseBSQ }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pUseBSQ }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="why-dao" itemprop="name">{{ item.hBisqToken }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pBisqToken }}
        </div>
      </div>
    </div>
  </div>



  <h4 class="pt-5 mt-5 pb-3">{{ item.hMiscellaneous }}</h4>
  <div class="accordion border-bottom mb-5">

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="why-security-deposit" itemprop="name">{{ item.hNoBitcoins }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pNoBitcoins }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="new-payment-accounts" itemprop="name">{{ item.hPaymentSupport }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pPaymentSupport }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="software-bugs" itemprop="name">{{ item.hSoftwareBugs }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pSoftwareBugs }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="whats-multisig" itemprop="name">{{ item.hMultisg }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pMultisig }}
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h6 class="accordion-toggle border-top pt-3 pb-2 green" id="more-questions" itemprop="name">{{ item.hOtherQuestions }}</h6>
      <div class="accordion-content pb-5 col-sm-12 col-md-8 ml-0 pl-sm-0 pl-md-0 px-0" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
        {{ item.pOtherQuestions }}
        </div>
      </div>
    </div>
  </div>
</div>
