---
layout: page
---
{% assign item = site.data[page.lang].downloads %}
<h1>Bisq1 Downloads</h1>
{{ item.bisq1ScopeNote}}


<div class="mt-5 mb-2">
  <div class="id-win64 hidden">{{ item.runningWindows }}</div>
  <div class="id-mac hidden">{{ item.runningMac }}</div>
  <div class="id-deb64 hidden">{{ item.runningDebian }}.</div>
  <div class="id-rpm64 hidden">{{ item.runningRedHat }}</div>

  <table class="all-downloads mt-5">
    <tr class="border-bottom">
      <td>{{ item.tdWindows }}</td>
      <td>
        <a class="dl-win64"
           href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.exe">.exe</a>
        |
        <a
          href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.exe.asc">{{
          item.tdVerificationText0 }}</a>
      </td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdMac }}</td>
      <td>
        <a class="dl-mac"
           href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-{{ site.client_version }}.dmg">.dmg</a>
        |
        <a href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-{{ site.client_version }}.dmg.asc">{{
          item.tdVerificationText0 }}</a>
      </td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdDebian }}</td>
      <td>
        <a class="dl-deb64"
           href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.deb">.deb</a>
        |
        <a
          href="https://bisq.network/downloads/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.deb.asc">{{
          item.tdVerificationText0 }}</a>
      </td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdRedHat }}</td>
      <td>
        <a class="dl-rpm64"
           href="https://github.com/bisq-network/bisq/releases/download/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.rpm">.rpm</a>
        |
        <a
          href="https://github.com/bisq-network/bisq/releases/download/v{{ site.client_version }}/Bisq-64bit-{{ site.client_version }}.rpm.asc">{{
          item.tdVerificationText0 }}</a>
      </td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdArchLinux }}</td>
      <td><a href="https://aur.archlinux.org/packages/bisq/">{{ item.tdArchLinuxText }}</a></td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdQubes }}</td>
      <td><a href="https://bisq.wiki/Running_Bisq_on_Qubes">{{ item.tdQubesText }}</a></td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdSourceCode }}</td>
      <td>
        <a href="https://bisq.network/downloads/archive/v{{ site.client_version }}.zip">zip</a> |
        <a href="https://bisq.network/downloads/archive/v{{ site.client_version }}.tar.gz">tar.gz</a>
      </td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdReleaseNotes }}</td>
      <td>
        <a href="https://bisq.network/downloads/v{{ site.client_version }}">{{ item.tdReleaseNotesText }} v{{
          site.client_version }}</a>
      </td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdVerification }}</td>
      <td>
        <a href="https://bisq.network/downloads/v{{ site.client_version }}">{{ item.tdVerificationText1 }}</a> |
        <a href="https://bisq.network/downloads/v{{ site.client_version }}/E222AA02.asc">{{ item.tdVerificationText2
          }}</a>
      </td>
    </tr>
  </table>

  <br>


  {{ item.pSeeInstructions }}

  <div class="mt-5">
    <h2>{{ item.hMobileNotifications }}</h2>
    <p>{{ item.pMobileNotifications }}</p>

    <a target="_blank" rel="noopener" href="https://play.google.com/store/apps/details?id=com.joachimneumann.bisq"><img
      class="badge-img mb-2" alt="Get it on Google Play" src="/images/badge_google_play.svg" loading="lazy"/></a>
    &nbsp;
    <a target="_blank" rel="noopener" href="https://itunes.apple.com/us/app/bisq-mobile/id1424420411"><img
      class="badge-img mb-2" alt="Get it on the App Store" src="/images/badge_app_store.svg" loading="lazy"/></a>
  </div>


  <div id="bisq2">&nbsp;</div>
  <h2>Bisq2 Downloads</h2>
  {{ item.bisq2ScopeNote }}
  {% assign bisq2_archive = 'https://github.com/bisq-network/bisq2/archive' %}
  {% assign bisq2_releases = 'https://github.com/bisq-network/bisq2/releases' %}

  <table class="all-downloads mt-5">
    <tr class="border-bottom">
      <td>{{ item.tdWindows }}</td>
      <td>
        <a class="dl-win64"
           href="{{ bisq2_releases }}/download/v{{ site.bisq2_version }}/Bisq-{{ site.bisq2_version }}.exe">.exe</a> |
        <a href="{{ bisq2_releases }}/download/v{{ site.bisq2_version }}/Bisq-{{ site.bisq2_version }}.exe.asc">{{
          item.tdVerificationText0 }}</a>
      </td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdMac }}</td>
      <td>
        <a class="dl-mac"
           href="{{ bisq2_releases }}/download/v{{ site.bisq2_version }}/Bisq-{{ site.bisq2_version }}.dmg">.dmg</a> |
        <a href="{{ bisq2_releases }}/download/v{{ site.bisq2_version }}/Bisq-{{ site.bisq2_version }}.dmg.asc">{{
          item.tdVerificationText0 }}</a>
      </td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdDebian }}</td>
      <td>
        <a class="dl-deb64"
           href="{{ bisq2_releases }}/download/v{{ site.bisq2_version }}/Bisq-{{ site.bisq2_version }}.deb">.deb</a> |
        <a href="{{ bisq2_releases }}/download/v{{ site.bisq2_version }}/Bisq-{{ site.bisq2_version }}.deb.asc">{{
          item.tdVerificationText0 }}</a>
      </td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdRedHat }}</td>
      <td>
        <a class="dl-rpm64"
           href="{{ bisq2_releases }}/download/v{{ site.bisq2_version }}/Bisq-{{ site.bisq2_version }}.rpm">.rpm</a> |
        <a href="{{ bisq2_releases }}/download/v{{ site.bisq2_version }}/Bisq-{{ site.bisq2_version }}.rpm.asc">{{
          item.tdVerificationText0 }}</a>
      </td>
    </tr>
    <!--    <tr class="border-bottom">-->
    <!--      <td>{{ item.tdArchLinux }}</td>-->
    <!--      <td><a href="https://aur.archlinux.org/packages/bisq/">{{ item.tdArchLinuxText }}</a></td>-->
    <!--    </tr>-->
    <!--    <tr class="border-bottom">-->
    <!--      <td>{{ item.tdQubes }}</td>-->
    <!--      <td><a href="https://bisq.wiki/Running_Bisq_on_Qubes">{{ item.tdQubesText }}</a></td>-->
    <!--    </tr>-->
    <tr class="border-bottom">
      <td>{{ item.tdSourceCode }}</td>
      <td>
        <a href="{{ bisq2_archive }}/v{{ site.bisq2_version }}.zip">zip</a> |
        <a href="{{ bisq2_archive }}/v{{ site.bisq2_version }}.tar.gz">tar.gz</a>
      </td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdReleaseNotes }}</td>
      <td>
        <a href="{{ bisq2_releases }}/tag/v{{ site.bisq2_version }}">{{ item.tdReleaseNotesText }} v{{
          site.bisq2_version }}</a>
      </td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdVerification }}</td>
      <td>
        <a href="{{ bisq2_releases }}/tag/v{{ site.bisq2_version }}">{{ item.tdVerificationText1 }}</a> |
        <a href="{{ bisq2_releases }}/download/v{{ site.bisq2_version }}/E222AA02.asc">{{ item.tdVerificationText2
          }}</a>
      </td>
    </tr>
  </table>

  <br>
</div>

<div class="mt-5">
  <h2>{{ item.hBisqEasyMobile }}</h2>
  <p>{{ item.pBisqEasyMobile }}</p>

  <table class="all-downloads mt-5">
    <tr class="border-bottom">
      <td>Bisq Easy Mobile (Android) <span data-version="bisq-easy">{{ site.bisqEasyMobile_version }}</span></td>
      <td>
        <a
          href="https://github.com/bisq-network/bisq-mobile/releases/download/anode_{{ site.bisqEasyMobile_version }}/Bisq_Easy-{{ site.bisqEasyMobile_version }}.apk">.apk</a>
        |
        <a
          href="https://github.com/bisq-network/bisq-mobile/releases/download/anode_{{ site.bisqEasyMobile_version }}/release-cert.pem">{{
          item.tdApkBisqEasyMobileVerificationText }}</a> |
        <a href="https://github.com/bisq-network/bisq-mobile/wiki/How-to-verify-our-Releases">{{
          item.tdApkBisqEasyMobileVerificationInstructions }}</a>
      </td>
    </tr>

    <tr class="border-bottom">
      <td>{{ item.tdSourceCode }}</td>
      <td>
        <a
          href="https://github.com/bisq-network/bisq-mobile/archive/refs/tags/anode_{{ site.bisqEasyMobile_version }}.zip">zip</a>
        |
        <a
          href="https://github.com/bisq-network/bisq-mobile/archive/refs/tags/anode_{{ site.bisqEasyMobile_version }}.tar.gz">tar.gz</a>
        |
      </td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdReleaseNotes }}</td>
      <td>
        <a href="https://github.com/bisq-network/bisq-mobile/releases/anode_{{ site.bisqEasyMobile_version }}">{{
          item.tdReleaseNotes }}</a>
      </td>
    </tr>
    <tr class="border-bottom">
      <td>
        <div class="store-badges">
          <a target="_blank" rel="noopener"
             href="https://play.google.com/store/apps/details?id=network.bisq.mobile.node">
            <img class="badge-img" alt="Get it on Google Play" src="/images/badge_google_play.svg" loading="lazy"/>
          </a>
        </div>
      </td>
    </tr>
  </table>
</div>


<div class="mt-5">
  <h2>{{ item.hBisqConnectMobile }}</h2>
  <p>{{ item.pBisqConnectMobile }}</p>

  <table class="all-downloads mt-5">
    <tr class="border-bottom">
    <tr class="border-bottom">
      <td>Bisq Connect <span data-version="bisq-connect">{{ site.bisqConnectMobile_version }}</span></td>
      <td>
        <a
          href="https://github.com/bisq-network/bisq-mobile/releases/download/connect_{{ site.bisqConnectMobile_version }}/Bisq_Connect-{{ site.bisqConnectMobile_version }}.apk">.apk</a>
        |
        <a
          href="https://github.com/bisq-network/bisq-mobile/releases/download/connect_{{ site.bisqConnectMobile_version }}/release-cert.pem">{{
          item.tdApkBisqEasyMobileVerificationText }}</a> |
        <a href="https://github.com/bisq-network/bisq-mobile/wiki/How-to-verify-our-Releases">{{
          item.tdApkBisqEasyMobileVerificationInstructions }}</a>
      </td>
    </tr>

    <tr class="border-bottom">
      <td>{{ item.tdSourceCode }}</td>
      <td>
        <a
          href="https://github.com/bisq-network/bisq-mobile/archive/refs/tags/connect_{{ site.bisqConnectMobile_version }}.zip">zip</a>
        |
        <a
          href="https://github.com/bisq-network/bisq-mobile/archive/refs/tags/connect_{{ site.bisqConnectMobile_version }}.tar.gz">tar.gz</a>
        |
      </td>
    </tr>
    <tr class="border-bottom">
      <td>{{ item.tdReleaseNotes }}</td>
      <td>
        <a href="https://github.com/bisq-network/bisq-mobile/releases/connect_{{ site.bisqConnectMobile_version }}">{{
          item.tdReleaseNotes }}</a>
      </td>
    </tr>

    <tr class="border-bottom">
      <td>
        <div class="store-badges">
          <a target="_blank" rel="noopener"
             href="https://play.google.com/store/apps/details?id=network.bisq.mobile.client">
            <img class="badge-img" alt="Get it on Google Play" src="/images/badge_google_play.svg" loading="lazy"/>
          </a>

          <a target="_blank" rel="noopener" href="https://bisq-network.github.io/bisq-mobile/">
            <img class="badge-img" alt="Get Bisq Connect for iOS" src="/images/badge_apple_test_flight.png"
                 loading="lazy"/>
          </a>
        </div>
      </td>
    </tr>
</table>

<script>
  (async () => {
    const api = 'https://api.github.com/repos/bisq-network/bisq-mobile/releases?per_page=100';

    const PREFIXES = {
      easy: 'anode_',
      connect: 'connect_'
    };

    function sanitizeTag(tag) {
      return (tag || '').trim().replace(/[^a-zA-Z0-9._-]/g, '');
    }

    function extractVersion(tag, prefix) {
      const safeTag = sanitizeTag(tag);
      const escapedPrefix = prefix.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
      return safeTag.replace(new RegExp('^' + escapedPrefix, 'i'), '');
    }

    function findLatestByPrefix(releases, prefix) {
      const matches = releases.filter(r => {
        if (r.draft) return false;
        const tag = sanitizeTag(r.tag_name);
        return tag.toLowerCase().startsWith(prefix.toLowerCase());
      });

      if (matches.length === 0) return null;

      return matches.reduce((latest, current) => {
        if (!latest) return current;
        const latestTime = Date.parse(latest.published_at || latest.created_at || 0);
        const currentTime = Date.parse(current.published_at || current.created_at || 0);

        if (Number.isNaN(latestTime)) return current;
        if (Number.isNaN(currentTime)) return latest;

        return currentTime > latestTime ? current : latest;
      }, null);
    }

    try {
      const res = await fetch(api, {
        headers: { 'Accept': 'application/vnd.github.v3+json' }
      });

      if (!res.ok) throw new Error('GitHub API error ' + res.status);

      const releases = await res.json();
      if (!Array.isArray(releases)) throw new Error('Unexpected GitHub API response');

      const easyRelease = findLatestByPrefix(releases, PREFIXES.easy);
      const connectRelease = findLatestByPrefix(releases, PREFIXES.connect);

      if (!easyRelease) {
        console.warn('No Bisq Easy release found');
      } else {
        const easyVersion = extractVersion(easyRelease.tag_name, PREFIXES.easy);

        const easyPlaceholder = '{{ site.bisqEasyMobile_version }}';
        if (easyPlaceholder) {
          document.querySelectorAll(`a[href*="anode_${easyPlaceholder}"]`).forEach(a => {
            a.href = a.href.replaceAll(easyPlaceholder, easyVersion);
          });
        }

        document.querySelectorAll('[data-version="bisq-easy"]').forEach(el => {
          el.textContent = easyVersion;
        });

        console.log(`Bisq Easy version updated to ${easyVersion}`);
      }

      if (!connectRelease) {
        console.warn('No Bisq Connect release found');
      } else {
        const connectVersion = extractVersion(connectRelease.tag_name, PREFIXES.connect);

        const connectPlaceholder = '{{ site.bisqConnectMobile_version }}';
        if (connectPlaceholder) {
          document.querySelectorAll(`a[href*="connect_${connectPlaceholder}"]`).forEach(a => {
            a.href = a.href.replaceAll(connectPlaceholder, connectVersion);
          });
        }

        document.querySelectorAll('[data-version="bisq-connect"]').forEach(el => {
          el.textContent = connectVersion;
        });

        console.log(`Bisq Connect version updated to ${connectVersion}`);
      }
    } catch (err) {
      console.error('Failed to fetch Bisq Mobile releases:', err);
    }
  })();
</script>
