---
layout: page
---
<div id="bcont">
  <article id="post-802" class="post-802 post type-post status-publish format-standard hentry category-news">
    <div class="dets_wrap">
      <div class="dets">
        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
        <ul>
          <li>{{ page.author }}</li>
          <li>{{ page.date | date: "%-d %B %Y"}}</li>
        </ul>
      </div>
    </div>
    <div class="content_wrap">
      <div class="content">
        <div id="page" class="scol">
          {{ content }}
        </div>
      </div>
    </div>
  </article>
</div>
