---
layout: page
---
<div id="bcont" class="pb-5 col-sm-12 col-md-8 ms-0 ps-sm-0 ps-md-0 px-0">
  <article id="post-802" class="post-802 post type-post status-publish format-standard hentry category-news">
    <div class="dets_wrap">
      <div class="dets">
       <a href="/blog/feed.atom" class="rss-link post"><img src="{{ '/images/logo-rss.svg' | relative_url }}" loading="lazy"></a>
        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
        <p class='post-meta grey'>
          Posted by <span>{{ page.author }}</span> on <span>{{ page.date | date: "%-d %B %Y"}}</span>
        </p>
      </div>
    </div>
    <div class="content_wrap">
      <div class="content">
        <div id="page" class="scol">
          {{ content }}
        </div>
      </div>
    </div>
  </article>
  <br>
  <br>
  <br>
  <a href="/blog">« Back to Blog</a>
</div>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": {{ page.title | jsonify | replace: "</", "<\/" }},
        "description": {{ page.excerpt | strip_html | normalize_whitespace | jsonify | replace: "</", "<\/" }},
        "image": "https://bisq.network/images/bisq-fav.png",
        "author": {
            "@type": "Person",
            "name": {{ page.author | jsonify | replace: "</", "<\/" }}
        },
        "publisher": {
            "@type": "Organization",
            "name": "Bisq",
            "logo": {
                "@type": "ImageObject",
                "url": "https://bisq.network/images/bisq-fav.png"
            }
        },
        "datePublished": {{ page.date | jsonify | replace: "</", "<\/" }},
        "dateModified": {{ page.date | jsonify | replace: "</", "<\/" }},
        "mainEntityOfPage": {{ site.url | append: page.url | jsonify | replace: "</", "<\/" }}
    }
</script>
